[2018-01-24 22:42] #199 closed

[2018-01-24 22:43] joshcanhelp commented on #196
Closing as either done or not enough info. Please open a new issue with more details if this is still needed.

[2018-01-24 22:43] #196 closed

[2018-01-24 22:44] joshcanhelp commented on #105
Added in 3.4.0 #357

[2018-01-24 22:44] #105 closed

[2018-01-25 09:22] cocojoe commented on #338
Confirmed as of 3.4.0

[2018-01-25 09:22] #338 closed

[2018-01-25 09:25] cocojoe commented on #351
I think the interim fix was not to used `auth0` in the path 😄
Longer term, improve the matching.

[2018-01-25 18:17] joshcanhelp commented on #369
@jsargent7089 - Release (3.5.0) is live and should fix the issues you've got here.

If you see a red banner after updating, there will be instructions for completing the update in your Auth0 dashboard. Easiest thing to do is to create a new API token and save it under **wp-admin > Auth0 > Settings > Basic > API token**:

https://auth0.com/docs/api/management/v2/tokens#get-a-token-manually

You can

[2018-01-25 18:18] #341 closed

[2018-01-25 18:19] #307 closed

[2018-01-25 18:19] joshcanhelp commented on #307
Thanks @Annyv2 !

[2018-01-25 18:19] joshcanhelp commented on #341
Thanks @jeroneemou!

[2018-01-25 18:21] joshcanhelp commented on #348
@rdowinton - Release 3.5.0 (#373) should take care of this for non-implicit users. Please test and close this if we're good to go here. Thanks!

[2018-01-25 18:23] joshcanhelp commented on #315
Release 3.5.0 (#373) should take care of this for non-implicit users. We do still have a UX issue, though, where passwords that don't conform to the password policy in place on the connection will not be saved. There's not any indication of this as all. I'll create a new issue for that, though.

[2018-01-25 18:23] #315 closed

[2018-01-25 18:43] joshcanhelp commented on #345
@nicosabena - I'll suppress that link on our end. It sounds like that should be added to the job API request, if possible, like "email verification not possible" ... which it actually looks like it does already:

https://auth0.com/docs/api/management/v2#!/Jobs/post_verification_email

I'll get this into the next release.

[2018-01-25 18:54] joshcanhelp commented on #347
@waded - Thanks for this request and apologies for the delayed response.

We definitely want clear and useful actions/filters everywhere we can to make extending this plugin as simple as possible. That said, I want to avoid adding anything that's too much of an edge case so we don't create extra work documenting, testing, etc. and anything that requires re-thinking the login process too much.

So,

[2018-01-25 19:31] joshcanhelp opened #374 "Notices in /lib/admin/WP_Auth0_Admin_Advanced.php"
Reported by @rdowinton:

[code]

[2018-01-25 19:45] joshcanhelp opened #375 "Profile password update changes"
### Edit profile should check password policy and reject if unacceptable

Right now, non-implicit installs can update their password from their own WordPress profile. This will update if that password follows the password policy set on the DB connection being used. But, if the password fails, the WordPress password is updated but not the Auth0 one and there are no errors.

Probably the fastest way

[2018-01-26 14:23] jmangelo commented on #363
Instead of always using a different response type isn't just a case of removing that snippet? When I enable that option Lock 11 will perform a similar call to what that snippet is trying to perform.

[2018-01-27 21:07] jsargent7089 commented on #369
Everything has been fixed do to the update. Thank you for all help

[2018-01-27 21:07] #369 closed

[2018-01-27 23:07] joshcanhelp commented on #369
Great to hear and happy to help!

[2018-01-29 11:32] thameera opened #379 "Migration IPs whitelist is not updated when saving"
When you do a change to the `Migration IPs whitelist` in the Advanced tab and click Update, the new changes aren't saved (you get the original settings back).

[2018-01-29 14:51] joshcanhelp commented on #379
Thanks @thameera but this was already reported in #320 so I'm going to close this one down. I have a branch in for this fix already so we'll get this out in the next release.

[2018-01-29 14:51] #379 closed

[2018-01-29 15:13] joshcanhelp opened #380 "Non-static method WP_Auth0_Api_Client::convertCertToPem() should not be called statically"
WP_Auth0_Api_Client.php L:1042

[2018-01-29 16:26] S0c5 opened #381 "[Security] [URGENT] XSS injection error page"
## XSS injection

There is a security issue with the error handler page that allows to attackers Inject malicious code.

### replication
[code]

[2018-01-29 16:51] joshcanhelp commented on #381
Thanks for the report, @S0c5, just pushed a fix for review.

[2018-01-29 17:38] joshcanhelp commented on #381
#383 approved and merged, ready for next release 👍

[2018-01-29 17:47] joshcanhelp commented on #322
Also reported here, 4th bullet down:

https://wordpress.org/support/topic/auth0-great-idea-plagued-by-plugin-problems/

Here are the options that aren't being removed:

![screenshot 2018-01-29 09 45 24](https://user-images.githubusercontent.com/855223/35525444-56f76778-04d9-11e8-9941-6480be36849d.png)

Nothing that would prevent a re-install but the error log persists, which might be confusing.

S

[2018-01-29 20:14] joshcanhelp commented on #363
@nicosabena - The latest version of the plugin is now using Lock 11.1, which might be affecting my ability to test this. I've tried a number of different ways to get this to work, understanding the `responseType` mismatch, but I'm not able to replicate what you're reporting.

@luisrudge - Easy enough to change on my end but any thoughts on what @jmangelo is saying above? Do we need to do a `checkS

[2018-01-29 21:30] luisrudge commented on #363
@joshcanhelp  It depends on what the page is doing. Lock will do a checkSession to see if needs to show the "Last time you logged in with" screen. It won't auto-login the user. If you want to auto-login the user, you need to do that by yourself in that page, yes.

[2018-01-29 21:41] S0c5 opened #386 "[ASK for help] Failed cross origin authentication"
#  Failed cross origin authentication

## description

Hello guy!, when I'm trying to login in with auth0 using the defaults settings created by the wizard application and after did the sign up  WordPress sends me  this error, please

* could you clarify this one?
* what did I do bad?
## How to replicate?

Please use a default and blank account for auth0 and clean WordPress installation with auth0

[2018-01-29 22:05] joshcanhelp commented on #386
Hi @S0c5,

Thanks for the detailed report here and apologies for the trouble on this.

Unfortunately, your replication steps aren't going to work on our end since that's the very least we test before new versions get released. I've walked through a new installation 3 times already today and many more before the last release. Not to say this is not a problem but I'm wondering if it's a config issue

[2018-01-29 22:27] joshcanhelp commented on #363
Pinging @cocojoe and @glena for some context.

What's the expected behavior? If it means less code operating in this plugin, I would lean heavily towards removing this code and relying on default Lock behavior.

`checkSession` is used in these two templates:

https://github.com/auth0/wp-auth0/blob/master/templates/auth0-sso-handler-lock10.php
https://github.com/auth0/wp-auth0/blob/master/templates

[2018-01-29 23:03] S0c5 commented on #386
Hi @joshcanhelp,

Answers:

1) yes I'm using the 3.5.1 version of the plugin.
2) Yeah, I didn't do any other change into auth0 configurations.
3) Yeah,  I figure out that error name into the dashboard auth0 in logs section:

**Dashboard**:

Type | Failed cross origin authentication
Description  | No verifier returned from client.

 **response server***
[code]
4) yes I walked around the guide and I

[2018-01-29 23:17] joshcanhelp commented on #386
Thanks for that, two more for you ...

1. The error that you're posting here is from the Auth0 dashboard log, correct? Is there anything relevant in your wp-admin > Auth0 > Error Log?
2. Do you happen to be using incognito mode in Safari? Or another browser?

[2018-01-30 00:01] joshcanhelp commented on #305
@Kirill-TechHub - Late reply here but wanted to get something up about this.

We made a number of changes recently (specifically #360) around how URLs are handled in the plugin. I don't know that it will specifically address this but version 3.5.0 of the plugin and later will include them.

Talking through what's going on here ... it sounds like you've got a redirect loading somewhere during WP pr

[2018-01-30 02:53] joshcanhelp commented on #363
Thanks @glena, will do.

@nicosabena - once you’re out of the woods, it would be great to get you a version of the plugin you can test that will include these changes and the Lock upgrade

[2018-01-30 04:15] S0c5 commented on #386
1. Yes i found it at auth0 dashboard but the wordpress app send me a error page with the error description, but nothing relevant in wp-admin -> auth0 -> error log  for thar reason I found the #381.
2. Yes, i tried at least all of my ideas that could causing the bug, I will try a old release for test it tomorrow.

[2018-01-30 05:54] saltukalakus commented on #363
ZD # 34725

[2018-01-30 10:20] #381 closed

[2018-01-30 16:22] joshcanhelp commented on #386
1. So the "Error" header above with the JSON block is from your wp-admin? Can you tell me what was under **Section** for that error? That will tell me where this is failing.
2. I'm not following your answer. Is this error happening in Safari on incognito mode? If so, have you tried with any other browsers? The error message is similar to another one we've seen with this browser and mode.

Happy to

[2018-01-30 17:22] joshcanhelp commented on #346
I've got a start here:

https://wordpress.org/plugins/auth0/#developers

... and will work adding releases there as well. We've got a more complete one here:

https://github.com/auth0/wp-auth0/blob/master/CHANGELOG.md

... and we're discussing internally where we want to maintain that instead of in both places. For now I'll close this since it does exist in the plugin now.

Thanks for the report h

[2018-01-30 17:22] #346 closed

[2018-01-30 17:26] vlood commented on #346
Sweet! Thank you for the effort!

I don't think anyone would be picky as to where to look for the change log, as long as you mention at the top of the one in WordPress.org that you are maintaining only the one here in GitHub.

[2018-01-30 19:29] S0c5 commented on #386
Hi @joshcanhelp,

1. that error is from auth0 server.
2. I verified with mozilla Firefox and works every thing good, but with chromium not. why has this plugin changed the behavior with other browser?

[2018-01-30 19:39] luisrudge commented on #386
@S0c5 does your chromium setup allows for third party cookies?

[2018-01-30 19:46] S0c5 commented on #386
@luisrudge Thanks luis!, that fix the issue. !

[2018-01-30 20:05] luisrudge commented on #386
no problem! We mention this in the docs [here](https://auth0.com/docs/cross-origin-authentication#limitations-of-cross-origin-authentication). It's a common issue and might go unnoticed until you hit the issue itself. I'm glad it's fixed!

[2018-01-30 20:05] #386 closed

[2018-01-31 00:52] joshcanhelp commented on #288
Looks like this has been the case since 3.2.21:

https://github.com/auth0/wp-auth0/commit/d69a3fa85f57b27ab330ff7ebb8c5c2dd32d1961#diff-894052ccee58b2c7d7f46aca8335a672

[2018-01-31 00:52] #288 closed

[2018-01-31 12:10] cocojoe commented on #386
@joshcanhelp maybe worth a little section in troubleshooting ?

[2018-01-31 13:51] coperator commented on #305
I think these recent changes do not affect this problem. I still have the issue described above.
Maybe, I will find to investigate this further. Until then, my thoughts:
The redirect from /index.php?auth0=1 to /?auth0=1 is most probably due to redirect_canonical action from Wordpress core, I guess? But I currently have no idea, why the redirect happens after the auth0 processing and before the aut

[2018-02-01 19:23] codyayers commented on #363
Could we get an update on when this will be fixed?

[2018-02-01 20:32] joshcanhelp commented on #363
@codyayers - This specific fix or SSO in general? We've been talking internally and need to come up with a solution that's going to work long-term. We're aware of what needs to be done here, just want to make sure the solution works well now and going forward.

Getting this operating 💯 is our highest priority for the plugin right now.

[2018-02-01 23:02] codyayers commented on #363
@joshcanhelp this specific fix. I'm happy to hear this, just would like to know if any ETA could be provided. Thanks!

[2018-02-01 23:30] joshcanhelp commented on #363
@codyayers - This particular fix won't make much of a difference as the check this is trying to do is now happening in Lock 11 (which the latest plugin version will upgrade you to).

That said, here is the one-line change if you want to give it a test on your end:

https://github.com/auth0/wp-auth0/compare/issue-363-experiment

If this has a positive effect, happy to include it in the next release

[2018-02-02 18:19] joshcanhelp commented on #363
Checking in again here ... that compare branch above expanded by 4 lines but I've got it working now, auto-logging in if the WP session ends before the Auth0 one does. It would be great to get someone to test this out against another set of config options but it's a simple fix and I can fast-track this into the next release coming very soon.

[2018-02-02 18:55] codyayers commented on #363
@joshcanhelp these changes: https://github.com/auth0/wp-auth0/compare/issue-363-experiment appear to resolve the problem completely for us! 👍

[2018-02-02 18:57] codyayers commented on #363
Shoot.. I take that back.. worked the first time, but now it doesn't seem to be... Will continue testing.

[2018-02-02 19:01] joshcanhelp commented on #363
@codyayers - Error messages seen, logged in wp-admin, and logged in the dashboard are helpful, along with steps to reproduce, of course. Might be best to start with a clean browser session, i.e. cleared cookies, but not incognito.

[2018-02-02 21:01] joshcanhelp commented on #363
@codyayers - Likely to be a related issue. I had it on my list to walk through that once this process was confirmed.

Stay tuned ... and thank you for testing!

[2018-02-02 22:52] joshcanhelp commented on #363
@codyayers - Similar fix for SLO, same compare link as before, single-line fix:

https://github.com/auth0/wp-auth0/compare/issue-363-experiment

I need to setup a network of sites to test this properly so not ready for release but the changes in that compare shouldn't hurt anything or introduce any new issues.

[2018-02-07 12:17] coperator commented on #305
I found the issue in our case:
In another plugin hooked to wp_login an unhandled exception was thrown. This exception was then "catched" by the wp-auth0 plugin in `WP_Auth0_LoginManager.init_auth0()` by doing nothing, so later the canonical redirect took effect.
The responsible code:
[code]

This empty catch block is maybe not the best idea. Especially, due to the fact that the missing redirect by

[2018-02-07 17:08] joshcanhelp commented on #305
Good ... `catch` 😆

We don't want to blindly redirect like that, and in the case that something went wrong on our end, that's not going to work well. That said, there is  clearly room for improvement here so I'll reopen, assign to myself, and take a look at it for an upcoming release.

If inspiration strikes, please feel free to submit a PR! Also, when you have a sec, let me know the plugin you're

[2018-02-08 10:26] coperator commented on #340
Although your question is from some time ago, I want to provide an answer.
I guess, the problem is, that you need to also set the auth0 user's mail address to verified, so that the wp_auth plugin joins the auth0 user with the wordpress user. A verified mail address is necessary to avoid hijacking existing wordpress users with a new registered auth0 user.

[2018-02-08 11:23] joshcanhelp commented on #340
@delmicio - Apologies for the very delayed response.

I'm a little confused here. You wrote custom code to create a user in Auth0 when they register on your WordPress site? If you're using the WordPress plugin then your standard wp-login.php form is replaced with an Auth0 form so registration happens the other way around, in Auth0 and sent back to WordPress.

Your error message is telling me that

[2018-02-08 13:51] joshcanhelp commented on #363
Tested on my end and confirmed it works as expected. If anyone else has any feedback 👍 👎 on this, that would be great. Otherwise, I'm going to put this into a PR and get it ready for release next week in 3.5.2.

Thanks everyone!

[2018-02-08 14:53] delmicio commented on #340
I'm not longer interested on solving this, project was dissolved.

[2018-02-08 14:53] #340 closed

[2018-02-12 17:10] #348 closed

[2018-02-13 19:53] dennis82m opened #395 "sign in throws "mail required" exception even though it is set and verified"
Updated wp-auth0 today. When trying to log in a user, which has verified mail (double checked in Auth0 Dashboard) the plugin throws the "There was a problem with your log in. This account does not have an email associated, as required by your site administrator." exception.

Disabling the "Require verified mail" setting in Wordpress Dashboard gives another strange behavior when trying to log in. A

[2018-02-13 21:25] joshcanhelp commented on #395
@dennis82m - Sorry for the trouble here. This isn't related to having a verified email, that error is saying that there is no email for the user provided in the response from Auth0.

Can you check your error log in wp-admin and Auth0 and see if there's anything relevant there?

[2018-02-16 18:37] #269 closed

[2018-02-16 18:37] #320 closed

[2018-02-16 18:37] #322 closed

[2018-02-16 18:37] #355 closed

[2018-02-16 18:37] #363 closed

[2018-02-16 18:37] #374 closed

[2018-02-16 18:37] #380 closed

[2018-02-19 07:42] dmead opened #400 "CORS errors"
Hi guys

I've got the plugin installed and can authenticate when i start chrome with no security (google-chrome --disable-web-security --user-data-dir)

However, when I run the plugin as normal it errors out when i use either password or passwordless logins.

In the chrome console i see:

`Failed to load https://<my-domain>.auth0.com/passwordless/verify: Response to preflight request doesn't pass

[2018-02-19 16:21] joshcanhelp commented on #395
@dennis82m - I'm going to close this one out since I haven't heard back. One good thing to check is that your Client setup in the Auth0 dashboard matches what's is required:

https://auth0.com/docs/cms/wordpress/configuration#client-setup

[2018-02-19 16:21] #395 closed

[2018-02-19 16:51] joshcanhelp opened #401 "Fallback /api/v2/users/{id} to /userinfo"
Make sure that login flows can get user data when Management API is not accessible (due to misconfiguration)

[2018-02-19 19:12] #281 closed

[2018-02-19 19:23] joshcanhelp commented on #400
@dmead - That error message is saying that the requested resource, `https://<my-domain>.auth0.com/passwordless/verify`, is not allowing your site to access it. I'm guessing that your dashboard is not set to allow your site to access. You want to make sure that your login page is listed under **Allowed Callback URLs** in the Client settings (that should have been set by default when it was setup).

[2018-02-20 07:16] dmead commented on #400
Hi,

We've been wrestling with this for days now and leaning towards the idea
that it's the fault of the bitnami wordpress distro.

Are you aware of what wordpress flavor the plugin is/was tested with?
because it for sure doesn't work out of the box on bitnami.

my domain is monoclemoney.auth0.com if that helps.

On Mon, Feb 19, 2018 at 2:23 PM, Josh Cunningham <notifications@github.com>
wrote:

[2018-02-20 12:25] dmead commented on #400
I've done a fresh install of the latest wordpress with the latest auth0 plugin.

Still the same error. Even doing stuff like below in apache doesn't help. Gets fail on cross site policy and posts fail pre-flight checks.

`Header set Access-Control-Allow-Origin "*"`

![auth0](https://user-images.githubusercontent.com/176946/36423780-27cd7c52-160f-11e8-98df-dba891532d54.png)

Any ideas? Should this

[2018-02-20 16:56] Floppy opened #403 "Handling errors"
Our wordpress instance is on Pagely, which irritatingly masks loads of error pages with its own error page, throwing away all the content. When we get OAuth errors, it doesn't show anything useful. Is there any way to tell the plugin to show a specific error page, so that we can customise it?

[2018-02-20 19:19] joshcanhelp commented on #400
@dmead - Apologies for the delay here.

The CORS error is coming from the Auth0 server, it's saying that your domain is not allowed to access the Auth0 server. This is to be expected for everything except your domain, once it's been added. Just so we're on the same page, make sure that:

* Your Client settings > "Allowed Callback URLs" have the right URLs added, similar to the screenshot below (bu

[2018-02-20 19:29] joshcanhelp commented on #403
@Floppy - That's not helpful, though I do have it on my list to handle those stop-points better. The function we use, `wp_die()`, accepts an error response code as an argument so we're able to do do the same thing but send a `200` code instead indicating a success in terms of the page loading instead of an error.

If you would, can you check in with Pagely and see if this would work to skip their

[2018-02-20 19:36] dmead commented on #400
We have all that setup and the CORS headers configured in apache.

Twilio works because i can get an authorization code, but on submit it fails CORS policy like a POST should (pre flight blah blah).

And like I said, the entire process works if i just disable cors on the browser, so it's not the configuration.

I've even tried **patching the plugin** so it serves the javascript from my apache inst

[2018-02-20 20:00] dmead commented on #400
I've tried your suggest changes and had the same result

[2018-02-20 23:14] Floppy commented on #403
It's very good of you to offer, but thinking about it a bit more, sending a 200 code with an error is a really non-webby thing to do and you shouldn't let me push you into it. I'm sure that sending a 200 would avoid their error trapping, but to me it's not the right thing to do (I'm a bit obsessive about HTTP codes).

We're going to move off there soon anyway, so I think we'll just have to live wi

[2018-02-20 23:14] #403 closed

[2018-02-21 00:38] Floppy commented on #305
Pretty sure I have the same thing going on. From my own notes:

Annoyingly, something else in my code is stopping me just removing the `index.php` from my URLs, but I'll stick at it and see if I can fix it that way.

[2018-02-23 15:18] joshcanhelp commented on #400
Again, your Apache configuration doesn't need to change as this is a call from your browser to Auth0, won't make a difference either way. Also, where the JS loaded won't matter for this either (though there is a field in the plugin that allows you to change that).

For the "disable cors on the browser," I'm sorry I mis-read that originally, I thought you said it **didn't** work that way. I think y

[2018-02-23 15:22] joshcanhelp commented on #403
I agree that a 200 code with a server error is not a great idea but this isn't a server error that indicates a network problem, it's a problem with a specific user's login process. The server connected, processed the request, and found an issue. I don't think indicating that with a 500 code is the right thing to do. We used `wp_die()` which just happens to have a response code of 500.

We're worki

[2018-02-23 16:46] joshcanhelp commented on #401
Needs a source

[2018-02-23 17:17] Floppy commented on #305
A bit more info: this is happening to me because after successful code exchange, there is an exception thrown during the JWT decoding (there's no string to decode on https://github.com/auth0/wp-auth0/blob/master/lib/WP_Auth0_LoginManager.php#L245, which may well be the root cause of my problem). The exception bubbles up and causes the rediirection to the canonical URL, at which point the code exch

[2018-02-23 17:21] joshcanhelp commented on #305
I appreciate all the additional information here. This is absolutely on my radar to fix in the next minor release (maintenance one coming out next week first).

[2018-02-23 17:25] #285 closed

[2018-02-23 17:26] Floppy commented on #305
Confirmed that @coperator's identification of the empty catch block is the culprit. If I `wp_die` inside there, I see a much more useful error :)

[2018-02-23 17:26] #284 closed

[2018-02-23 18:36] Floppy opened #404 "Logging in with hosted login page and auth0.js 8"
This is less of an issue, and more of a question. I'm using the latest `wp-auth0` plugin, and getting users to log in via the hosted login page. It's a custom one using auth0.js 8, though actually I also have the same problem if I turn that off and use the default.

Login works, and users are sent to `http://mydomain.com/index.php?auth0=1&code=abc123`. When they arrive at wordpress, the code is ex

[2018-02-23 18:56] Floppy commented on #404
OK, fair enough :)

[2018-02-23 19:26] joshcanhelp commented on #404
@Floppy - If it helps at all, I've got a branch that uses the hosted login page to process SSO logins which you can use as a bit of a guide. Here is where the `authorize` link is being built:

https://github.com/auth0/wp-auth0/blob/fixed-sso-login-failing/lib/WP_Auth0_LoginManager.php#L91

... and here is where we request the token:

https://github.com/auth0/wp-auth0/blob/fixed-sso-login-failing/l

[2018-02-24 06:49] akhanukov commented on #404
I come to this forum nightly looking for potential answers to the last month of nightmarish debugging trying to get from the functional days of Delegation and WP Rest API. I can't wait to go try this. Thank you!

[2018-02-26 08:17] Floppy commented on #403
Yes, that's true, should be something in the 4xx range probably.

[2018-03-07 04:20] thameera opened #407 "SSO does not work if Lock is used outside wp-login.php"
The code for [handling SSO](https://github.com/auth0/wp-auth0/blob/master/templates/auth0-sso-handler-lock10.php) is only run if in `wp-login.php` and not if Lock is used elsewhere (eg: using shortcode).

[2018-03-07 15:17] joshcanhelp commented on #407
Basically this:

https://github.com/auth0/wp-auth0/blob/master/templates/auth0-sso-handler-lock10.php

… needs to run on any page that has Lock on it. Currently called from here:

https://github.com/auth0/wp-auth0/blob/master/lib/WP_Auth0_LoginManager.php#L34

Hooked to `login_message` so it does not output anywhere other than /wp-login.php

[2018-03-08 20:09] #87 closed

[2018-03-08 20:11] joshcanhelp commented on #239
@thameera - Reviving this old one as we're refactoring both login and log out in the latest release.

In my mind, `federated` is rarely desired and I'm not even sure if it's necessary as an option. My thoughts are to leave `federated` out completely.

What do you think?

[2018-03-08 20:11] #210 closed

[2018-03-08 20:14] joshcanhelp commented on #39
This is ancient but I'll test this out with the upcoming changes to SSO/SLO.

Ref #398

[2018-03-08 20:17] joshcanhelp commented on #260
Old but still relevant.

Includes #407

[2018-03-09 04:32] thameera commented on #239
This was added after a customer request some time back. I've not seen any further requests afterwards, so maybe safe to close this.

[2018-03-09 04:32] #239 closed

[2018-03-09 23:26] joshcanhelp opened #408 "Improve initial setup process"
I wanted to start a thread here to discuss how we can improve the initial setup process/wizard for the plugin.

The wizard, as it works currently, is optimized to work really well for a specific use case: sites that need username and password login in a separate database connection and want their users migrated. This means that use cases outside of this - social only, don't want user migrations, w

[2018-03-13 15:27] aaguiarz commented on #408
- Why do we need to select an existing client? Why can't we always create one?
- Why can't we always enable SSO?

[2018-03-13 15:28] lbalmaceda commented on #408
@joshcanhelp
Before showing this form full of options I'd ask the user what's their use case. Either via 3 or 4 buttons or via a drop-down menu. Once they choose that, you change what you show in the form below or even better, move them to a separate screen with only the options required by that use case.
You need to remember this use-case setting somewhere so later in the dashboard you hide optio

[2018-03-13 15:45] joshcanhelp commented on #408
@aaguiarz

"Why do we need to select an existing client? Why can't we always create one?" - The switch tells the setup wizard whether you want to use an existing one or not. If off, then that field will go away and it will create one for you.

"Why can't we always enable SSO?" - It could default to on

@lbalmaceda

"I'd ask the user what's their use case" - I like this approach and was considering

[2018-03-13 19:26] joshcanhelp opened #410 "Deprecate `oauth/ro` endpoint"
This is unlikely to affect anyone but the methods that use this endpoint are public so we'll need to properly deprecate these (`E_DEPRECATION` error and documentation in the code). Since these are not used in any of the core processes, this will only affect developers who have extended the plugin to use this endpoint.

Affected methods:

`WP_Auth0_Api_Client::ro()` - posts to the `oauth/ro` endpoi

[2018-03-22 19:36] #347 closed

[2018-03-22 19:40] joshcanhelp opened #414 "Better behavior when logged-in users visits wp-login.php"
Basic WordPress behavior when viewing the login page is to show the login form again but when Auth0 is installed, you get the WP logo and a link:

![screenshot 2018-03-22 12 38 52](https://user-images.githubusercontent.com/855223/37794189-05b14776-2dce-11e8-88b1-2bde76b2d9d4.png)

I think redirecting to the default login URL would be more helpful here. Also, if there is a `redirect_to` parameter,

[2018-03-23 18:09] alerdenisov commented on #400
@joshcanhelp did you some tests already?
Because same problem in my case

[2018-03-24 00:37] joshcanhelp commented on #400
Apologies for the delayed response here.

I'm seeing the same issue you're having @dmead and have been digging into a fix over the last week. I think the problem stems from newer tenants not having access to older API endpoints. The library that runs passwordless in this plugin is out-of-date and has since been merged with the main library that runs that login page, [Lock](https://github.com/auth0

[2018-04-02 20:05] joshcanhelp commented on #400
I put together a test of the upcoming passwordless changes in the plugin which can be downloaded and installed to get this working better on your end. Repo is here:

(joshcanhelp/auth0-pwl-beta)[https://github.com/joshcanhelp/auth0-pwl-beta]

If you're able to run `git` on the server hosting your WP instance, it's best to clone this into `wp-content/plugins/auth0-pwl-beta` so changes can be pulled

[2018-04-06 18:28] joshcanhelp commented on #400
Good to hear!

That error won't affect logging in, it's just trying to get the country to auto-fill values. Check your CORs setting in the dashboard to make sure you've got everything configured.

@dmead @alerdenisov  - Are you able to test this out to see if it solves your issue?

[2018-04-11 10:23] rdowinton opened #430 "Widget URL changes don't save when you are using passwordless"
If you have passwordless enabled and try to update the widget URL, the changes aren't saved.

This appears to be due to it using the `wpa0_passwordless_cdn_url` option in on the client side while reading the settings from the `passwordless_cdn_url` option instead.

[2018-04-12 16:13] talamihg opened #431 "user_metadata no longer being passed to auth0_user_login action on registration"
Regarding this action - ['auth0_user_login'](https://auth0.com/docs/cms/wordpress/extending#auth0_user_login)
[code]

When a user registers for the first time, i was expecting `user_metadata` to be passed in along with `$userinfo` however its no longer included when logging in for the first time.
I was using this hook to set some user metadata, `$userinfo->user_metadata`, when `$is_new` is true an

[2018-04-12 20:05] joshcanhelp commented on #431
Hi @talamihg!

Are you saying this is a change of functionality from a previous version?

This action runs in the same place at the same time regardless of whether this is a login or a signup. The `$userinfo` parameter is either:

- Data from the `/api/v2/users/{id}` endpoint of the [Management API](https://auth0.com/docs/api/management/v2#!/Users/get_users_by_id) if you're using the default login

[2018-04-13 15:47] talamihg commented on #431
I must be using the Implicit flow because I am logging in with SSO, and was not aware of the different types of methods. This is great info, thanks. I figured that the wp-auth0 plugin was working as designed, but I didn't know where along the login flow things would have changed with all the recent updates.

Thanks @joshcanhelp. I'll read into that community thread.

[2018-04-13 21:33] joshcanhelp commented on #407
Discussion here:

https://community.auth0.com/t/lock-wordpress-plugin-ver-3-5-2-sso-logging-in-doesnt-work-after-upgrade/10839

I removed the labels as I don't think we have a great solution for this yet. Simply loading the `checkSession()` call on every page load is just not sustainable.

[2018-04-14 10:26] Schwankenson opened #432 "Bad request does not raise error"
I found out the reason for the strange Wordpress user from the ticket: https://support.auth0.com/tickets/37419 - The non interactive client I used had no permissions selected.

The bug in the Wordpress Plugin is, that it did not show me an error message. Here is what I found out:

In file lib/WP_Auth0_LoginManager.php the request "WP_Auth0_Api_Client::get_user(...)" in line 252 returns an error:

[2018-04-16 14:31] joshcanhelp commented on #432
Thanks for the issue report here, @Schwankenson!

We've been working on the next version of the plugin and one of the big things we concentrated on was error handling. In this particular case, we'll catch if the client is not configured properly and fallback to the `/userinfo` endpoint with the access token:

https://github.com/auth0/wp-auth0/blob/dev/lib/WP_Auth0_LoginManager.php#L254

I'll leave

[2018-04-19 15:03] danyell-hubrix opened #438 "JWT token iat bug ?"
I haven't thoroughly read the code so I'm not 100% sure about this problem.

WordPress 4.9.5, attempting sign-up using Twitter, I see many lines like this in my log:

`[19-Apr-2018 14:48:12 UTC] Cannot handle token prior to (iat) 2018-04-19T14:56:28+0000`

Anyone know how to fix this?

[2018-04-19 16:08] joshcanhelp commented on #438
@danyell-hubrix - Happy to investigate but going to consolidate to a single thread for this:

https://community.auth0.com/t/wp-auth0-wordpress-plugin-jwt-token-problems/11019

[2018-04-19 16:08] #438 closed

[2018-04-20 22:09] #407 closed

[2018-05-03 18:03] joshcanhelp commented on #410
Fixed with #413

[2018-05-03 18:03] #410 closed

[2018-05-03 18:05] joshcanhelp commented on #430
Fixed with #434 and merged into `dev`

[2018-05-03 18:05] #430 closed

[2018-05-03 18:06] joshcanhelp commented on #401
Added in #423 and merged into `dev`

[2018-05-03 18:06] #401 closed

[2018-05-03 18:07] joshcanhelp commented on #400
Fixed in #434 and merged into `dev`. Please deactivate and delete the test plugin linked here before upgrading!

[2018-05-03 18:07] #400 closed

[2018-05-03 18:08] joshcanhelp commented on #345
Fixed in #447 and merged into `dev`

[2018-05-03 18:08] #345 closed

[2018-05-03 18:14] joshcanhelp commented on #39
Fixed in #453 and merged into `dev`

[2018-05-03 18:14] #39 closed

[2018-05-03 18:15] joshcanhelp commented on #185
Adding this to the product backlog

[2018-05-03 18:15] #185 closed

[2018-05-03 18:16] #204 closed

[2018-05-03 18:25] joshcanhelp commented on #280
Fixed in #409 and merged into `dev`

[2018-05-03 18:25] #280 closed

[2018-05-03 18:34] joshcanhelp commented on #408
Moving in a few tasks from #282:

- Configuration wizard: it should use the new pipeline (without the /i path if available with auth0.auth0.com)
- The scopes requested during the configuration wizard should be enough to create a non interactive client and grant access to the required scopes for the management api RS.
- For "offline" flow it should request the client_id and secret and explain how t

[2018-05-03 18:37] joshcanhelp commented on #282
Configuration changes moved to #408.

Universal login page support is coming soon, will be released right after 3.6.0 so SSO users.

"We should support the following parameters as first class settings: audience, scope (configurable in the basic tab)" - Not sure if these should be settings or filters. Scope filter coming in 3.6.0 at least.

Initial configuration change, profile management, and gene

[2018-05-03 18:37] #282 closed

[2018-05-03 18:39] joshcanhelp commented on #272
Fixed in #426 and merged into `dev`

[2018-05-03 18:39] #272 closed

[2018-05-03 18:40] joshcanhelp commented on #283
Fixed in #409 and merged into `dev`

[2018-05-03 18:40] #283 closed

[2018-05-03 18:41] joshcanhelp commented on #291
I don't think this is still and issue but please re-open if so.

[2018-05-03 18:41] #291 closed

[2018-05-04 00:29] joshcanhelp commented on #296
Sorry for the delay folks. I can squeeze this into the upcoming release, will have a PR tomorrow.

[2018-05-04 00:30] joshcanhelp commented on #305
Fixed in #409, merged into `dev`

[2018-05-04 00:30] #305 closed

[2018-05-04 00:32] joshcanhelp commented on #302
Several changes to the login flow should correct this in 3.6.0. If you're still having issues after the release, post your reproducing steps and I'll gladly take a look 👍

[2018-05-04 00:32] #302 closed

[2018-05-04 00:34] joshcanhelp commented on #329
This behavior was removed a while ago. Please re-open this with reproduction steps if it's still happening.

[2018-05-04 00:34] #329 closed

[2018-05-04 00:37] joshcanhelp commented on #309
@gatelli - I know this is a really old issue but the translation is being added in the next release. If you're still having an issue here, can you clarify #1 above? I'm not sure what the welcome text you're referring to is.

Thank you!

[2018-05-07 15:51] joshcanhelp opened #459 "Allow login redirect URL to point to an in-network domain for multi-site"
Right now, the login redirection link in settings is required to point to the same domain as the current site. This makes it so that sub-domain multi-site setups cannot direct between sites in the same network. The save validation should account for this and allow in-network redirects.

Reported here: https://wordpress.org/support/topic/login-redirect-issues-2/

[2018-05-10 17:29] nmoinvaz opened #461 "Autoloader performance issue"
It appears that the autoloader slows down the wordpress site significantly.

Running performance monitor I was able to see that for every class that was being searched for, it would search in a bunch of different directories - even for files that were not part of the auth0 plugin. The more plugins I had installed, the worse the problem would get.

![image](https://user-images.githubusercontent.com

[2018-05-10 17:39] luisrudge opened #462 "test"

[2018-05-10 17:40] #462 closed

[2018-05-11 14:04] joshcanhelp commented on #461
@nmoinvaz - Thank you very much for the thorough report here. I'm going to take a look today and should be able to get this into the next release, coming in the next couple of weeks.

[2018-05-11 16:36] joshcanhelp commented on #461
👆 twitched on the close issue button

Alright, I can confirm that this is trying to autoload all classes that are called in plugins. Moving this to high priority to fix and should have a PR ready next week at some point.

@nmoinvaz thanks again for the heads-up here. Your solution is close but:

- You should check for the name at the very top of that method, exit early.
- There are a few classes t

[2018-05-15 19:53] jessCmi opened #464 "Updating to 3.5.2 - Fatal error: Uncaught Error: Cannot use object of type stdClass as array in /app/wp-content/plugins/auth0/lib/WP_Auth0_DBManager.php on line 225"
I have been trying to upgrade a client's site to the latest version of the plugin for a while now but it keeps killing the staging site. We followed the instructions for updating to 3.5, with the client creating a new API token and adding it to staging. Then when I push the updated plugin, we get this error: `Fatal error: Uncaught Error: Cannot use object of type stdClass as array in /app/wp-conte

[2018-05-15 21:45] joshcanhelp commented on #464
Hi @jessCmi ... apologies for the trouble here. What version are you upgrading from? And, if you have access to you PHP error logs, can you see if there is anything relevant happening at/around the same time?

In short, something during the upgrade process is failing and not being handled well. I made a note on my end to correct that (though this is the first report we've had of it). Worst case, I

[2018-05-16 12:41] jessCmi commented on #464
Thanks for the quick response. That error is the only one showing up on the logs for the staging environment. I pasted in the whole thing below in case its helpful.

[code]

On my local setup I am also seeing this notice:

[code]

Maybe some of this is helpful, I appreciate you checking it out for me.

[2018-05-16 23:12] joshcanhelp commented on #464
@jessCmi - Thank you for that. The `Notice: Undefined index` error is known and being fixed in the next version.

I think the best bet here is to manually update the Application that your WP site is using, manually update the settings in your site, manually update the version number, then update the plugin. The steps are below:

Under [Application Setup here](https://auth0.com/docs/cms/wordpress/c

[2018-05-22 00:08] leobarcellos commented on #400
Hi @joshcanhelp, I know this was closed and probably my comment is ~kinda~ offtopic because I'm not using wp-auth0. However I'm using auth0.js SDK and facing the same problem. Passwordless and CORS issues.

I've configured Allowed Callback URLs already, and I'm using a custom domain. However even with the <tenant>.auth0.com I get the CORS Issue with the passwordless.verifyCode function.

Question

[2018-05-24 00:11] joshcanhelp commented on #309
@gatelli - found the one you were talking about, both are merged into the `dev` branch and being tested for release so I'll close this one.

[2018-05-24 00:11] #309 closed

[2018-05-24 03:42] nmoinvaz commented on #461
I have tested it and it works well so far.

[2018-05-24 19:48] joshcanhelp commented on #464
Fixed in #467, merged into `dev` and ready for release 👍

[2018-05-24 19:48] #464 closed

[2018-05-24 19:49] joshcanhelp commented on #461
Fixed in #465, merged into `dev` and ready for release 👍

[2018-05-24 19:49] #461 closed

[2018-05-24 19:49] joshcanhelp commented on #336
Fixed in #466, merged into `dev` and ready for release 👍

[2018-05-24 19:49] #336 closed

[2018-05-24 19:50] joshcanhelp commented on #296
Fixed in #456, merged into `dev` and ready for release 👍

[2018-05-24 19:50] #296 closed

[2018-06-04 17:48] moolbits opened #471 "Expose a configurable toggle that allows Users to state if federated logout should be used"
There's currently no way for Users to have SSO enabled without then triggering a full federated logout.

The problem is that when 3rd party identity providers are facilitating the connection, like Google and Facebook, the User is redirected back to Google or Facebook respectively, and there is currently no way to change this behavior in the settings for the plugin.

It would be of great value in c

[2018-06-04 19:17] joshcanhelp commented on #471
@moolbits - Thanks so much for the thorough report here! This was an issue identified earlier and is fixed in a release coming out tomorrow (#453). The fix was to just remove `federated` because it's far more likely that a site owner needs a non-federated logout. I am tracking an issue internally to include a filter to adjust that, if needed.

Let me know if you have any questions or any issues af

[2018-06-04 19:17] #471 closed

[2018-06-04 21:46] joshcanhelp commented on #316
I know this is old but it's still relevant, even more so with some recent focus on testing, configuration, and documentation around WordPress networks.

I definitely understand the pain point here and happy to work towards a clear, coherent solution. In writing documentation for the multisite install process, though, it's clear that the hard part here is going to be coming up with a solution that

[2018-06-05 08:22] shihabmridha opened #474 "Updating profile not working"
When a user updates his profile from WordPress, it doesn't affect on auth0 database.

[2018-06-05 17:36] nmoinvaz opened #476 "Javascript error loading Customize"
Not sure if this is unique to my theme or not. But when I try to Customize the appearance in Wordpress, Auth0 throws this error:

![image](https://user-images.githubusercontent.com/1364432/40992588-14a19e16-68ac-11e8-8a6b-a0eb39e67dc0.png)

It gives the error being on:
`$('#tab-' + currentTab).tab('show');`
When I change it to:
[code]
Then everything works. I think this code should really only be

[2018-06-05 18:40] joshcanhelp commented on #476
@nmoinvaz - Apologies for the trouble here, that's definitely a miss on my part. The issue is that it's loading the admin.js script to handle the Auth0 login widget without loading it's Bootstrap dependency.  It looks there is a related problem with the widget as well. Your fix should be fine for now, I'll work on a fix to the latest release that solves this more completely.

Thank you for the rep

[2018-06-06 11:54] Floppy opened #478 "No versions in Wordpress plugin repo"
DISCLAIMER: I'm not 100% sure where the root cause of this problem is - I think it's here, but it might not be.

We use composer to manage our Wordpress plugins, including Auth0. We are using it via [wpackagist](https://wpackagist.org/) in order to do so. The plugin is listed here: https://wpackagist.org/search?q=auth0&type=any&search=

Our composer lockfile specifies 3.5.2 - we'll upgrade to 3.6.

[2018-06-06 13:29] Floppy commented on #478
I've resolved this in our case by referencing the git repository directly in my `composer.json`, but this will still affect anyone trying to use it via the official plugin repository.

[2018-06-06 14:21] joshcanhelp commented on #478
@Floppy - Thanks for bringing this up. I noticed a while back that the WP.org repo listing doesn't have older versions listed and have it on my list to check that. We use a Jenkins script to deploy from `master` on this repo and we should be able to adjust that to push the release tag as well. I have a fixit release that needs to come out here soon so I'll see if I can add tags to the deployment p

[2018-06-06 18:51] joshcanhelp commented on #478
This didn't require any changes to the plugin code at all. I just pushed all 3.x tags to the WP.org SVN repo and you can now see them listed here:

https://wordpress.org/plugins/auth0/advanced/

One-liner bash script if anyone else out there wants to do the same:

https://gist.github.com/joshcanhelp/2120f1b7abf5e170fb7d1a001ed73dd8

[2018-06-06 18:51] #478 closed

[2018-06-06 18:55] joshcanhelp commented on #474
Hi @shihabmridha ... that's correct, nothing is pushed back to Auth0 currently. There are a number of related issues in this repo about that. The main technical considerations are ... what fields get sent back? And where are they saved? There needs to be some level of configuration on the plugin side, and well as authorization concerns.

All that said, we're planning on adding this functionality i

[2018-06-06 20:40] Floppy commented on #478
Great stuff! It was a bit of a surprise, certainly made my day more interesting :)

[2018-06-07 15:51] Floppy opened #480 "Optionally load client ID, secret and domain from environment"
We have multiple environments that we keep in sync with database backups cloned between them. Obviously this confused the Auth0 plugin as it doesn't have the right credentials any more.

Loading the credentials from the environment in a 12-factor app style would make this a lot easier. Perhaps if the values are blank in the database they could be loaded from the env? Another issue here is the user

[2018-06-07 16:01] joshcanhelp commented on #480
@Floppy - Thank you for the suggestion on this. We were considering something like this for sensitive data storage like the ones you mentioned. WordPress convention is to define a constant in wp-config.php, rather than a .env file. Would that work for your purposes? Then we don't have to load a separate env-parsing library.

[2018-06-08 17:04] hesperanca opened #483 "Error - auth0 cannot find node with id "auth0-login-form""
After upgrading from 3.5.2 to 3.6.1 the authentication page throws a js error saying "auth0 cannot find node with id "auth0-login-form" and it redirect me to the standard WP login page. The same was hapenning with version 3.6.0.

I may be missing something but had to revert back to 3.5.2 to get it working again.

Cheers for all your help.

![image](https://user-images.githubusercontent.com/2989724

[2018-06-08 17:10] joshcanhelp commented on #483
Hi @hesperanca ... sorry for the trouble here. You said:

Are you talking about wp-login.php? That error is saying that it doesn't have anywhere to put the Lock form (it's looking for a node with an `id` attribute of `auth0-login-form`). That's always output with the core plugin so I'm not sure what's going wrong.

Do you have any relevant customizations at all?

[2018-06-08 17:40] hesperanca commented on #483
Hi Josh,

Thanks for your reply.

Sorry, yes I'm talking about wp-login.php. As far as I know there are no customisations to the login process. If I revert back to 3.5.2 all is fine. As soon as I upgrade I start to get the error.

I'm relatively new to WordPress so there may be something I'm doing wrong but I cannot see what it could be.

Thanks for your help.

[2018-06-08 18:15] talamihg commented on #483
Same situation here. Upgraded from 3.5.2 to 3.6.1 today. Same JS error thrown on /wp-login.php

[2018-06-08 18:50] joshcanhelp commented on #483
Thanks for the extra information here.

I just spun up a fresh test install and tried a few options and could not replicate this. Can I have you check a few more things, please?

- Does the Auth0 plugin error log show anything that looks relevant?
- Do you have anything in you Auth0 Settings > Appearance tab > Login Form CSS/JS field? Or in Auth0 Settings > Advanced tab > Extra Settings field?
- D

[2018-06-08 22:45] hesperanca commented on #483
Hi Josh,

Thanks for looking into this.

Here are the answers to your questions:

- Nope. There are no relevant errors on the Auth0 plugin error log.
- Both settings are empty.
- Unfortunately, it's all running on my local dev environment which means I cannot give you access. I was testing the upgrade locally before deploying it to our test environment (which is available over the internet). I can

[2018-06-09 01:00] joshcanhelp commented on #483
So, let's walk through all the WP basics here:

- Deactivate all plugins that aren't Auth0 and switch to a default theme. Does the problem persist?
- Deactivate and delete the plugin, then reinstall (don't run the Setup Wizard, just use the same domain, Client ID, and Client Secret). Does the problem persist?

I forgot to ask earlier ... when you upgrade and load wp-login.php, you get the error bu

[2018-06-12 16:11] talamihg opened #484 "TypeError: jQuery(...).tab is not a function"
`TypeError: jQuery(...).tab is not a function admin.php:689:5`

When in `/wp-admin` > `Auth0` > `Import-Export settings` clicking on the Export Settings tab causes this JS error and the page does not appear.

Running wp-auth0 v3.6.1

[2018-06-12 17:29] joshcanhelp commented on #483
@hesperanca - Any updates here? I have another issue I'll need to fix and release, would be glad to get a fix in for this if the root cause in on our end.

[2018-06-12 17:38] joshcanhelp opened #485 "Better admin notice when settings can't be saved"
If a setting requires access to the Management API (like password strength), the plugin shows an error if the token is missing or expired. But the error message does not do a great job of indicating what the next steps are.

**Saving password policy with an invalid token:**

![screenshot 2018-06-12 10 36 35](https://user-images.githubusercontent.com/855223/41306930-8fa09772-6e2c-11e8-8ff6-22fb3d1d

[2018-06-12 17:58] talamihg commented on #484
Thanks for the quick response. Can confirm this hotfix works.

[2018-06-12 19:45] joshcanhelp commented on #484
Absolutely. We'll have a fix out for this ASAP

[2018-06-12 20:51] hesperanca commented on #483
Hi Josh,

Sorry been away from the office all day today. Just tried switching from the third party theme we were using to one of the default themes and it has started to work. Strange thing is that version 3.5.2 of the auth0 plugin works fine with the third party theme. I'll have a look at the theme code to see if I can find the reason for the conflict and let you know my findings.

Thanks for all

[2018-06-14 17:18] joshcanhelp commented on #483
Thanks for the update, @hesperanca. Let me know as soon as you're able, happy to add this to an upcoming patch release if it's an issue on our end.

One thing to note ... we did add a filter to the login form output so you can adjust how the form is output, shown here:

https://github.com/auth0/wp-auth0/blob/master/templates/login-form.php#L39

Documented here:

https://auth0.com/docs/cms/wordpres

[2018-06-14 17:58] joshcanhelp commented on #484
Fixed in #486, now merged into `dev`.

For anyone that doesn't want to (or can't) implement the hotfix above, just open the JS console in your browser and run the following:

[code]

That will make the **Export** button appear and work normally.

[2018-06-14 17:58] #484 closed

[2018-06-14 18:08] hesperanca commented on #483
Hi Josh,

Thanks for the info. Although the theme isn't using that filter your comments made me look into other filters you are using and I found that you are using the 'login_message' filter to render the form:
![image](https://user-images.githubusercontent.com/29897247/41429023-bd7c928a-7003-11e8-954e-70a75cbaa33a.png)

and the theme code is also using the same filter in this way:
![image](https

[2018-06-14 18:36] joshcanhelp commented on #483
Good find! Yes, that filter will run after our filter (`11` is later than `5` in runtime) and clear everything out. But, like you said, that doesn't explain why it changed after the update. Version 3.5.2 uses `5` as well:

https://github.com/auth0/wp-auth0/blob/3.5.2/WP_Auth0.php#L60

What you can do, instead of creating a whole new page, is to remove their filter:

[code]

I'll close this one for

[2018-06-14 18:36] #483 closed

[2018-06-15 16:29] joshcanhelp commented on #480
Tracking progress in the [`add-env-settings-support`](https://github.com/auth0/wp-auth0/compare/dev...add-env-settings-support)

[2018-06-19 20:56] talamihg opened #487 "Custom Fields"
It doesn't seem that the Custom Signup Fields option is working. I've included some JSON, but its not changing Lock to include those fields.
[code]

I am assuming that you want the square brackets around the entire array like shown here: https://auth0.com/docs/libraries/lock/v11/configuration#text-fields ?

Can confirm that the JSON block above is producing this on /wp-login.php
[code]

[2018-06-19 22:32] joshcanhelp commented on #487
Hi @talamihg ... I pasted the JSON here into my local install and see the fields just fine:

![screenshot 2018-06-19 15 30 35](https://user-images.githubusercontent.com/855223/41627610-d1e5c072-73d5-11e8-9bda-e5ebc86b7b8f.png)

They only appear on the **Signup** tab ... are you only looking on the **Login** tab? If not, do you see any errors in your JS console?

[2018-06-20 03:28] singularityjay commented on #487
Same issue here.

[2018-06-20 14:15] talamihg opened #489 "Question: Way to visit directly to Sign Up tab?"
Is there a way to directly navigate to `/wp-login.php` and have the Sign Up tab be displaying instead of the login form?

Would be great if you could pass a query parameter like `/wp-login.php?initialscreen=signup` or `/wp-login.php?action=singup`

I've looked through the documentation and have found that in Lock for Web this is an option, but im not sure if its implemented in `wp-auth0`
https://a

[2018-06-20 14:29] joshcanhelp commented on #487
@singularityjay - Can you check that those are being output in the page code? View source and search for what you've added. The extra settings field is pretty widely used and works fine on my end so it might be malformed JSON in there.

@talamihg - No, Lock generally happens in-place in terms of customization. Passwordless adjustments in the dashboard will map over but not fields. In my last reply

[2018-06-20 14:52] talamihg commented on #487
Sorry I didn't respond with that request. Yes, I am viewing the Sing Up tab and I am only seeing the default email and password fields. I am not seeing any JS errors but there is one JS warning.

[code]

The strange thing, the URL referred to is added to my Allowed Web Origins settings on the auth0 dashboard.

[2018-06-20 15:15] talamihg commented on #489
Just a suggestion if this is to be an enhancement, it might be nice to extend support for all Lock options. Something like:
`/wp-login.php?auth0_options=eyJpbnRpYWxzY3JlZW4iOiJzaWdudXAifQ==`

where the query param would be `auth0_options` and the value would be a base64 JSON object.

[2018-06-20 15:56] joshcanhelp commented on #487
@talamihg - Thanks for that. I see that warning every now and then as well. As long as logins/signups are functioning properly then nothing to worry on that.

I'm not entirely sure where to go with this one. The field JSON is just saved in the DB and output to the page where Lock picks it up. If you're on a test install, I would try the usual WP debugging - default theme and no other plugins. If y

[2018-06-20 20:56] joshcanhelp commented on #487
@talamihg - It looks like what's happening here is that the extra fields are not being pulled into the global options var before Lock is initialized. You can re-initialize Lock in the console using the global options once everything has loaded and the fields show up fine. It looks like the `DOMContentLoaded` event that I'm using is not reliable for what we're trying to do.

I'll put through a PR n

[2018-06-25 14:39] #489 closed

[2018-06-28 14:51] jessCmi opened #494 "`auth0_state` cookie and Pantheon"
We have a client who is on Pantheon and we are having issues with the latest version of the plugin and the "Invalid state" error. Looking at this troubleshooting guide I have a pretty good idea what the issue is (https://github.com/joshcanhelp/troubleshooting-invalid-state-wp/) based on step three of the plugin's new process.
The problem is that Pantheon Wordpress cookies have to have `STYXKEY_` a

[2018-06-28 16:34] joshcanhelp commented on #494
Hi @jessCmi,

Happy to help. There is not currently a way to adjust that cookie name but it would be easy to add a filter to handle that. I'm working on a patch release now and I'll get this change into that cycle. Should have that out tomorrow or Monday at the latest.

Are you able to test it out on a test/staging install?

Thanks for the report!

[2018-06-28 18:35] joshcanhelp commented on #494
@jessCmi

This was a simple fix so I put that through and it's now available in the [`dev`](https://github.com/auth0/wp-auth0/tree/dev) branch. If you can pull that down and follow the sample in the PR (#495), you should have what you need.

Let me know if that works as soon as you're able. Thank you!

[2018-06-28 18:35] #494 closed

[2018-06-28 18:36] joshcanhelp commented on #487
Fixed in #491 and merged into `dev` for testing.

[2018-06-28 18:36] #487 closed

[2018-06-28 19:42] jessCmi commented on #494
Thank you so much! This was the issue, and your fix will solve it.

[2018-06-28 19:57] joshcanhelp commented on #494
@jessCmi - Great to hear! If you're able to test ahead of the release, that would be helpful. Otherwise, look for the new version tomorrow at the earliest, Monday at the latest.

[2018-07-04 06:52] Floppy commented on #480
Yeah, it's probably best to stick to the wordpress standard. We can always use an env loader inside our `wp-config.php` to do the next step.

[2018-07-26 16:33] ghills opened #508 "Single sign on shows the login username/password fields briefly before automatically signing in"
Steps:
- Plugin configured in Wordpress with SSO enabled.
- Logged into auth0 account from the same tenant (different application) using the hosted login page.
- Link is clicked that goes to a Wordpress page that requires login and automatically redirects to the login page.

Expected behavior:
- User is taken to the login page.
- Lock widget is loaded and has the "spinner" animation.
- User is aut

[2018-07-26 16:37] joshcanhelp commented on #508
@ghills - Thank you for the report here and detailed repro steps. This is on our radar for the next release. That delay is dependent, in part, on your network speed so a slower speed will take longer to make the necessary SSO call. We'll change that to make the Lock init depend on that check.

Thanks again!

[2018-07-26 16:39] ghills commented on #508
Great! Thank you for the quick response.

[2018-08-07 18:11] saltukalakus opened #519 "State check as an option"
Hi, is it possible to disable state check functionality with a configuration option? It is sometimes hard to debug, and this can give some time for us to fix the cause.

For some cases, https://github.com/joshcanhelp/troubleshooting-invalid-state-wp/ isn't enough to resolve the issue, unfortunately.

[2018-08-07 18:14] luisrudge commented on #519
No. State checking is a security feature and can't be disabled.

[2018-08-07 18:14] #519 closed

[2018-08-09 15:42] joshcanhelp commented on #480
Fixed in #509, merged into `dev`. Release coming soon!

[2018-08-09 15:42] #480 closed

[2018-08-09 15:44] joshcanhelp commented on #459
Fixed in #512 and merged into `dev`. Release coming soon!

[2018-08-09 15:44] #459 closed

[2018-08-13 10:43] nodomain opened #521 "Configuring auth0 OIDC URL parameters"
In order to configure our main tenant's login window we are obliged to use OIDC URL parameters.
When using mod_openidc for Apache, I do that by configuring:

`OIDCAuthRequestParams connection=main-tenant-oidc&display=sup`

How can I inject the `display=sup` parameter into the Auth0 request?
Tried some ways without success.

Thanks.

[2018-08-13 16:05] joshcanhelp commented on #521
@nodomain - Happy to help.

Which Auth0 request? Can you walk me through what you're trying to do and where you want to add that?

[2018-08-13 17:39] nodomain commented on #521
Ok perhaps I was not clear enough. 🙈

I have some Auth0 Integrations with the Apache module mod_openidc. There I can configure the request params for the Auth0 request using the parameter `OIDCAuthRequestParams` as described here: https://github.com/zmartzone/mod_auth_openidc/wiki#13-how-can-i-add-custom-parameters-to-the-authorization-request
Now I want to use the "native" Wordpress Auth0 plugin

[2018-08-13 17:53] joshcanhelp commented on #521
@nodomain - Thanks for the clarification. One more question for you ... are you using the Universal Login Page? The plugin does not, by default, use that but can be configured to do so.

[2018-08-13 19:10] nodomain commented on #521
In our scenario we use a custom hosted login page in the main tenant of our company. My Wordpress instance is configured in a sub Auth0 tenant, hence I need to use `main-tenant-oidc` in the "Auto Login Method" attribute.
Even if that does not answer your question directly, I hope to shed some light on it :)

[2018-08-13 19:34] joshcanhelp commented on #521
@nodomain - Thanks for that, I see what you're trying to do now.

At the moment, there is no way to change that but I think it's a good candidate for a filter to add URL parameters as needed. We just put out a release today but I can add this to the next patch release if that works for you.

[2018-08-13 19:39] nodomain commented on #521
Sounds awesome :)

[2018-08-19 01:16] itjunkii83 opened #524 "Wordpress Login - Sorry, that email address is already used! [error code: unknown]"
When I try and login to my wordpress it says:

"There was a problem with your log in: Sorry, that email address is already used! [error code: unknown]"

However if I login with a Wordpress user not in auth0 it creates the user in Auth0 and everything looks normal on that end although I get the above error. If I try and login with a user already in Auth0 it records it as a successful login in Auth0

[2018-08-29 00:35] nmoinvaz opened #527 "Automatically create user in Wordpress through Post-User Registration Hook"
Some of our Auth0 users are created via the Auth0 API, it would be great if there was a way or an example of creating a Wordpress user through the Auth0 post-user registration hook. So that when a user was added in Auth0 an associated user would be created in Wordpress with the wp-auth0 plugin. Thanks.

[2018-08-29 15:39] nmoinvaz commented on #524
Do you have the "Link Users with Same E-mail" option turned on in the settings?

[2018-08-29 16:41] itjunkii83 commented on #524
Hey @nmoinvaz that setting is not turned off on our install

[2018-08-29 20:09] joshcanhelp commented on #524
@itjunkii83 - Apologies for the delay, I didn't see a notification for this.

I'm sorry but I'm not totally following your steps here. The error message you mention is a core WP error message passed through to the plugin when you're trying to register a new user that has an email address of an existing user.

If you can write out a step-by-step reproduction here (URL you're on, where the error is

[2018-08-29 20:11] joshcanhelp commented on #527
Hi @nmoinvaz,

The Management API? In another app?

The post-registration hook happens *after* registration so that wouldn't really work.

That happens automatically when a user logs in. If you create the Auth0 user, then just login with those credentials and the WP one is created automatically.

Let me know if I'm not understanding your suggestion here.

[2018-08-29 22:40] nmoinvaz commented on #527
I see. Thanks.

[2018-08-29 22:40] #527 closed

[2018-08-30 15:14] nmoinvaz opened #529 "Ability to manually link account in user profile"
This is for a feature request to be able to manually link a Wordpress to a user in Auth0. I would imagine when you go into the User's profile in Wordpress, it would have an Auth0 section that would allow you to enter in the user's auth0 id - this would create the wp_auth0_id user meta value.

The use case where this would be of value is you need to manually link the accounts as in the case where y

[2018-09-03 09:00] sgedda commented on #400
Also make sure that request header is not set to 'Access-Control-Allow-Origin': '*' which was the reason to the error in my case.

[2018-09-06 00:29] #524 closed

[2018-09-11 13:27] avanderpluijm opened #534 "Add authorization token to header for external request"
Hello,

What do I need to do to create a authenticated request to an external service?
I am using `wp_remote_get(url,args);` to make this request, but it needs an 'Authorization Bearer xxxx'  header.

Is there a way to get this token from this module? Something like get_token()

(also posted this question at [auth community forum](https://community.auth0.com/t/how-to-add-authorization-header-in-wo

[2018-09-11 14:38] joshcanhelp commented on #534
Thanks @avanderpluijm, I'll answer this question over there to keep responses in one place.

[2018-09-11 14:38] #534 closed

[2018-09-12 15:33] chauhanvishaal opened #535 "No verifier returned from client in IE v11 though custom domain & callback-cross-auth implemented"
Hi,

I am fighting this error since a while now.
I have implemented custom domain and callback-cross-auth.html pages.
Do not have cookies blocked in IE v11 even then cant get rid of the problem.
Below are the options I pass to Auth0Lock before calling
this.lock.show({  allowSignUp: false });

These options work in IE if I set redirect: false but with that MFA authentication doesnt work which is wh

[2018-09-12 17:33] joshcanhelp commented on #535
@chauhanvishaal - Sorry for the trouble here.

If you have the former setup, you should not need the latter. Do you have your custom domain added in the Custom Domain field in the WP plugin settings? Just need the domain, not `https://` there. The `configurationBaseUrl` should be added automatically based on your tenant domain (that also needs to be in the plugin settings).

[2018-09-12 17:34] joshcanhelp commented on #535
Also ... I'm not sure where all that JSON is coming from or going, all of that is generated automatically in the plugin based on your settings.

[2018-09-13 06:29] renrizzolo opened #536 "Problems with implicit login in > 3.6"
Hi guys,
I've upgraded the plugin form 3.5.2 to 3.7, and the implicit login flow I had set up no longer works.
Previously, `auth0-login-form.php` checked for implicit, then posted the state and token (if it was in the hash) to `index.php?auth0=implicit`, which parsed the info and logged the user in, and redirected to `state.redirect_to`.

It looks like in 3.6.0 the login form templates were change

[2018-09-13 14:53] chauhanvishaal commented on #535
Thanks for your reply Josh.
My issue apparently seems to be only in my local environment. Later in the day I thought of checking the same build on a proper integration environment, which seemed to work.
So I will close the issue, though my local env still doesnt work. I have even tried following below steps at the end of this link: https://auth0.com/docs/custom-domains

Go to Internet Options > Se

[2018-09-13 14:53] #535 closed

[2018-09-19 17:00] joshcanhelp commented on #536
@renrizzolo - Apologies for the delay here, I don't recall getting a notification for this.

Are you using the built-in implicit flow or something custom? We always test that flow along with the regular redirect flow before releases so I'm not aware of any problems with the existing flow. If you're not doing anything custom, can you provide repro steps?

TL;DR on state and nonce verification ... S

[2018-09-19 17:00] joshcanhelp commented on #286
Workaround:

https://wordpress.org/support/topic/creating-registration-restriction/

[2018-09-19 17:00] #286 closed

[2018-09-21 01:16] renrizzolo commented on #536
Thanks for your reply @joshcanhelp,

So the gist of what I'm doing is:

Authenticate user in react native app via `react-native-auth0` webAuth
[code]

Now I have a token, which I can use for getting/posting as the wp user via wp REST API (with `wp-jwt-auth` plugin).

#### The part my question relates to:
a particular process can't be done in-app, so I have a web login function that redirects to th

[2018-09-21 20:26] joshcanhelp commented on #536
Just for context around this change ... the nonce check in the ID token and the state validation are both recommended security precautions that were not built into the plugin until [v3.6.0](https://github.com/auth0/wp-auth0/releases).

For your specific case, I see what you're trying to do here and it's clear why it's not working with your current implementation. But we might be able to work aroun

[2018-09-21 21:18] stoicbuddha opened #539 "Plugin tries to create a user if they log in a different way"
Looks like this is related to [#524](https://github.com/auth0/wp-auth0/issues/524).

What we've run into is:
Step 1: a user initially logs in via Google when they don't have a WP user.  The plugin creates a WP user (as expected).
Step 2: They log out at some point.
Step 3: They try to log in via email/pw.

Expected result: normal login.

Actual result: **Sorry, that email address is already used!

[2018-09-22 08:51] renrizzolo commented on #536
This is great, thanks so much!
I totally forgot I could be setting cookies from js - I'll give it a go on Monday.

[2018-09-22 14:55] joshcanhelp commented on #536
Happy to help! I tried it out and it worked as expected. The one thing to keep in mind with silent auth is you'll get redirected back with an `error` URL param if you're not logged in. You'll want to check that case and make sure it does what you're expecting.

I'll close this for now, let us know if you have any issues here!

[2018-09-22 14:55] #536 closed

[2018-09-25 18:42] joshcanhelp commented on #539
@stoicbuddha - thanks for the report here.

If you login with Google using a certain email address, that user account is tied to a specific Auth0 user created for that connection. If you then try to create a new user with a different connection, like a database in your case, but using the same email address, then that's a different Auth0 user with a different user ID. The plugin searches for the e

[2018-09-26 04:21] leokoo opened #541 "Keep getting logged out once SSO is turned on"
I was logging in fine until I enabled the SSO feature. Right now, the only way in is by disabling the plugin :( Otherwise, I'll be logged in and then out.

Any thoughts on this?

[2018-09-26 17:43] stoicbuddha commented on #539
Hey @joshcanhelp

The problem is that it shouldn't be trying to create a user at all; it does this whether you try to "Log In" or "Sign Up". It's calling the "Create" functionality for reasons I haven't had a chance to look at, but it's the logic that's calling said functionality that breaks everything.

I don't have the functionality to combine users switched on at the moment because it requires

[2018-09-26 18:52] joshcanhelp commented on #541
Sorry for the trouble @leokoo ... so you're saying you get immediately logged out when you log in with SSO? Sounds like you haveSingle Logout (SLO) turned on as well and it's not working properly. Can you turn off SLO and see if that stops happening?

For more context ... SLO checks Auth0 for a session and automatically logs you out of there isn't one. If you can login just fine with Auth0, I don'

[2018-09-27 16:45] briansrepo opened #542 "Better documentation of User Migration endpoints with manual setup"
I kept getting oauth errors when I tried to run the setup wizard on a stand-alone install of Wordpress, so I decided to set it up manually. It all went pretty smoothly until I turned on the Custom Database option. I found zero documentation about the two endpoints the User Migration option activates. I got stuck on that for a long time until I found [this post](https://community.auth0.com/t/i-cann

[2018-09-27 18:27] joshcanhelp commented on #541
Yes, that's a plugin setting. You can adjust like so, run somewhere in the same WP environment:

[code]

That said, have you tried logging in again after you were logged out? I would guess so but just wanted to check.

[2018-09-27 18:28] #539 closed

[2018-09-27 18:32] joshcanhelp commented on #542
@briansrepo - Sorry for the trouble there and I totally agree. The user migration feature is nice in many cases but if the automatic setup doesn't work then it is definitely a pain to get it setup correctly. I will add this to our backlog to get a proper documentation page created for this. It will still be copy/pasting NodeJS code but it will be in a better format with more clear instructions.

[2018-09-27 18:32] #542 closed

[2018-10-02 16:51] aslafy-z commented on #351
Sounds like a easy fix: https://github.com/auth0/wp-auth0/blob/master/lib/WP_Auth0_Routes.php#L23

[2018-10-02 17:30] joshcanhelp commented on #351
Thanks for the digging @aslafy-z ... the fix is easy but just removing it might be breaking. I'll see if I can make this change without harming anyone 👍

[2018-10-02 18:34] #300 closed

[2018-10-02 18:34] #310 closed

[2018-10-02 18:34] #375 closed

[2018-10-02 18:34] #521 closed

[2018-10-08 00:06] mufid opened #562 ""search_engine=v2 is not available for your tenant because it is deprecated" error"
### Description

I've configured WP-Auth0. But then after trying to login, it says:

    There was a problem with your log in:
    {\"statusCode\":400,\"error\":\"Bad Request\",
    \"message\":\"The User Search Engine v2
    (search_engine=v2) is not available for your tenant
    because it is deprecated. Please use the
    User Search Engine v3 instead (search_engine=v3).
    For guidance on how

[2018-10-08 15:44] cocojoe commented on #562
Thanks for the feedback, we will look into this.

[2018-10-08 16:05] joshcanhelp commented on #562
@mufid  - Thank you for the report here and apologies for the trouble. The fix here is:

1. Go to your [Auth0 dashboard > Rules](https://manage.auth0.com/#/rules)
2. Edit the **Account-Linking-Do-Not-Rename** Rule:

![screenshot 2018-10-08 09 02 13](https://user-images.githubusercontent.com/855223/46620191-e8116180-cad8-11e8-9348-6079913cadb1.png)

3. On or around line 26, change `v2` to `v3`

I'l

[2018-10-08 17:12] joshcanhelp commented on #562
Releasing the patch on WP.org now.

[2018-10-08 17:12] #562 closed

[2018-10-08 17:57] joshcanhelp commented on #25
Backlogged internally for the next major

[2018-10-08 17:57] #25 closed

[2018-10-08 17:58] joshcanhelp commented on #529
Backlogged internally for a future release.

[2018-10-08 17:58] #529 closed

[2018-10-08 17:59] joshcanhelp commented on #113
Backlogged internally for a future release.

[2018-10-08 17:59] #113 closed

[2018-10-08 18:01] #308 closed

[2018-10-08 18:03] joshcanhelp commented on #314
Backlogging internally with #408 for a future release.

[2018-10-08 18:03] #314 closed

[2018-10-08 18:05] joshcanhelp commented on #408
Backlogged internally for a future release.

[2018-10-08 18:05] #408 closed

[2018-10-08 18:09] joshcanhelp commented on #316
Backlogging this internally for a future release.

In the meantime, we now allow for settings to be stored in a PHP constant:

https://auth0.com/docs/cms/wordpress/configuration#php-constant-setting-storage

This will allow all sites in a mutli-site network to use the same settings.

[2018-10-08 18:09] #316 closed

[2018-10-08 18:10] joshcanhelp commented on #343
Backlogging this internally for a future release.

[2018-10-08 18:10] #343 closed

[2018-10-08 18:11] joshcanhelp commented on #474
Backlogging this internally for a future release.

[2018-10-08 18:11] #474 closed

[2018-10-08 18:12] joshcanhelp commented on #485
Backlogging this internally for a future release.

[2018-10-08 18:12] #485 closed

[2018-10-10 15:10] gutocosta opened #566 "Add translation to Brazilian Portuguese (pt_BR)"
Create a translation into Brazilian Portuguese, contributing to the translation of the WordPress plugin.
https://translate.wordpress.org/projects/wp-plugins/auth0/dev-readme/pt-br/default

[2018-10-18 22:51] Floppy opened #569 "Basic settings edit box doesn't show values from AUTH0_ENV_* constants"
### Description

When using the configuration constants like `AUTH0_ENV_CLIENT_ID`, the basic settings form shows that the constant is in use via the message above the edit box, but the contents of the edit box show (I am fairly sure) the value loaded from the the database configuration, not the constant.

I've verified the value of the constants using https://wordpress.org/plugins/view-defined-co

[2018-10-19 23:08] joshcanhelp commented on #569
@Floppy - Thank you for the very complete report here!

I'm not sure what to say here, it definitely should be showing the value that's set in the constant. We have a whole pile of unit tests to confirm that it does as well. I'm wondering if it's some kind of cache issue on your server.

If you try to get that value, what comes back?

[code]

Also, what value is getting used on the site? I'm guess

[2018-10-24 14:30] #414 closed

[2018-10-24 14:30] #508 closed

[2018-10-31 16:16] joshcanhelp commented on #569
@Floppy - Did you discover anything else about this? I just went through a thorough round of testing for the next release and did not see this issue crop up. If there is one, though, I'm happy to address it in [3.8.0](https://github.com/auth0/wp-auth0/milestone/19) (coming next week).

[2018-11-06 13:19] Floppy commented on #569
Just got chance to take another look, and tried some more things. I altered `render_const_notice` to the following, to print out the constant value:

[code]

The result is:

![screenshot 2018-11-06 at 13 16 45](https://user-images.githubusercontent.com/3565/48066784-68091500-e1c6-11e8-87aa-0075d92fe9e2.png)

As you can see, the values are different! The value in the notice is the correct one from

[2018-11-06 13:52] Floppy commented on #569
So, I dropped the code from @joshcanhelp's comment above into `WP_Auth0_Admin_Generic::init_option_section`, and get a definite 'Uh Oh' and no 'Yay's, so I'm pretty sure it's not using the environment variable properly. 🙁

[2018-11-06 13:55] Floppy commented on #569
Hitting "Save" on the basic admin page gave me a blank screen, then when I went back to the page, there was nothing in the domain or client ID fields (and a warning saying they can't be empty), which doesn't sound like it saved the constant data into the DB as expected.

[2018-11-06 15:45] joshcanhelp commented on #569
@Floppy - If the constants are getting picked up and their values are available, then the issue must be in `WP_Auth0_Options_Generic->get()`:

https://github.com/auth0/wp-auth0/blob/master/lib/WP_Auth0_Options_Generic.php#L138

Are you using the `wp_auth0_get_option` filter for anything?

That method uses `get_options()` from that same class:

https://github.com/auth0/wp-auth0/blob/master/lib/WP_A

[2018-11-06 17:48] joshcanhelp commented on #536
@renrizzolo - I wanted to give you a heads up on this solution ... I'm releasing 3.8.0 today which changes how the implicit flow works a bit. Going forward, you don't want to use the `/wp-login.php` as a callback for an authentication request. That was just rePOSTing authentication data to the main callback URL, `/index.php?auth0=implicit`. The change needed in the code snippet above is to change:

[2018-11-06 21:51] ucu13 opened #581 "Access Token is null in auth0_user_login action"
Hey,

I'm trying to get the access token in "the auth0_user_login" action after a user login, but both $access_token and $refresh_token are null. Probally i need to some additional settings in order to get access_token.

From what i see in the code, is possible that auth0 to not return the access_token.
What are that situations?

I'm using Passwordless authentification with SSO and Implicit Login

[2018-11-06 22:08] joshcanhelp commented on #581
Hi @ucu13,

Implicit Flow does not use an access token, only an ID token so it makes sense that this is null. The access token is typically just used to get userinfo and, with the ID token, you already have that.

What are you using the access token for? And why is implicit flow turned on?

[2018-11-07 07:33] ucu13 commented on #581
Thank you,
If i disable implicit login flow I receive also the access token. Really I don't know why was enabled.

I don't know the details where the access token will be used in this case, A team that develop a 3thParty application made the request to my client.

[2018-11-07 15:35] joshcanhelp commented on #581
Implicit flow is typically only used if your server can't make an HTTP call to Auth0. If the login process works without that on, then I would keep it there.

I didn't answer about the refresh token ... the `auth0_auth_scope` filter can be used to add `offline_access` to the scopes, which will return a refresh token:

https://auth0.com/docs/cms/wordpress/extending#auth0_auth_scope

Hope that helps

[2018-11-07 15:35] #581 closed

[2018-11-09 02:50] renrizzolo commented on #536
Thanks for the heads up @joshcanhelp.

following up with the above solution, I actually ended up having to make my own callback url in wp that sets the state and nonce cookie then redirects to the silent auth.
It doesn't appear to work on iOS but I haven't had a chance to investigate that (the error is `login_required`).

[2018-11-14 12:16] johnbillion opened #586 "Correct dimensions for custom login icon"
### Description

I'm attempting to implement a custom icon on the login screen, via the Icon URL field on the Auth0 -> Settings -> Appearance screen in the WordPress admin area.

This field recommends a size "less than 120px tall", but I'm struggling to find the correct icon dimensions and ratio. It appears that the icon's height is forced to `58px` and its width is forced to `auto`, which results

[2018-11-14 16:01] joshcanhelp commented on #586
Hi @johnbillion, nice to see a familiar name using the plugin!

The embedded form that's there is built completely in JS and can be styled with either an external CSS sheet loaded on the login page (recommended) or using the "Login Page CSS" field under wp-admin > Auth0 > Settings > Appearance. Here's what worked for me:

[code]

Regardless of the CSS you use, make sure to turn off "Enable Gravata

[2018-11-14 19:25] scharc opened #587 "Javascript: Use readonly instead of disabled on email field"
edit-user-profile.js adds a 'disabled' props to the email input field. that should be a readonly instead on line 22

otherwise the field check will return invalid

[2018-11-14 19:42] joshcanhelp commented on #587
@scharc - Thanks for this report and really good timing! I'll make that change now.

[2018-11-14 19:53] #587 closed

[2018-11-15 09:26] Floppy opened #590 "Passwordless login and state"
### Description

When using passwordless login, we're having problems with `state` in the OAuth flow. Our passwordless flow isn't instant, for various business reasons, and when a users gets the passwordless link to log in, it's entirely possible it might be a few days later.

Problem is that while we can set an `auth0_state` cookie when they request the passwordless link, I'm really not confident

[2018-11-15 18:15] joshcanhelp commented on #590
@Floppy - What you're describing here is, more-or-less, what state validation is meant to prevent: a different machine trying to log in that did not initiate the process.

If you're having problems with the link, try the emailed code instead (remove `{"passwordlessMethod":"link"}` from the Extra Settings field). You can adjust the expiration of that code in the Auth0 dashboard:

Auth0 Dashboard >

[2018-11-15 23:23] Floppy commented on #590
Yeah, I understand that this is precisely what `state` is for, and is working as intended. Our use case is definitely odd, here. I've got a workaround for now; I'll think on this some more and reopen if appropriate.

[2018-11-15 23:23] #590 closed

[2018-11-20 03:36] toddheslin opened #591 "Update docs"
There is an option missing from the documentation: **Token Endpoint Authentication Method**

![image](https://user-images.githubusercontent.com/1883112/48750038-58a2c500-ecb8-11e8-9253-41b7cd7473f5.png)

This needs to be set to basic such that the value in here is simply the `access_token` returned from the `/oauth/token` request:
![image](https://user-images.githubusercontent.com/1883112/48750081

[2018-11-20 03:48] toddheslin commented on #591
Should also be noted that 'Client Credentials' dropped off after I changed from POST to Basic.
![image](https://user-images.githubusercontent.com/1883112/48750460-24300880-ecba-11e8-8adc-05a3bae62e3f.png)

Might be worth testing and/or documenting.

[2018-11-20 10:18] johnbillion commented on #586
We went with full-on customisation in the end :-)

<img width="930" alt="" src="https://user-images.githubusercontent.com/208434/48766902-c5689000-ecb5-11e8-9919-c997e0a28435.png">

Thanks for the pointers about the custom icon. Some improvements to the helper text there would help a lot I think. Cheers!

[2018-11-20 10:18] #586 closed

[2018-11-20 15:44] joshcanhelp commented on #586
Looks great! Thanks for the suggestion and checking back in.

[2018-11-20 15:59] joshcanhelp commented on #591
@toddheslin - Actually, that should be set to the Web App default of "Post," which is why it's not called out specifically. The API token field is more or less a temporary access token for the Management API to allow certain changes to happen. The client credentials grant that gets an access token automatically for Management API changes does not save a token there.

[2018-11-20 16:04] joshcanhelp commented on #569
It's all runtime, no process needs to happen to save those anywhere.

But you mentioned `functions.php`, I've only tested those in `wp-config.php`. The constant values are parsed on startup, before the theme is even taken into account.

Can you both try moving those definitions to `wp-config.php` and see if that helps? If that solves it, I'll call that out more explicitly in the documentation.

[2018-11-21 12:49] toddheslin commented on #591
Hmmm I wonder if this is because I didn't go through the wizard setup? I actually used the API to generate the original token (using postman actually) and then pasted it into that wordpress API Token box. I'm struggling to remember but I'm thinking it was the first request that would have failed if I didn't choose `Basic`.

Oh well, close the issue and if anyone comes across a similar issue they c

[2018-11-21 12:58] toddheslin commented on #569
Ahh good point. The way our local (Docker) and production (VPS) is setup is such that we only manage the theme in our repo and never touch the `wp-config.php`.

It turns your that you're absolutely right. This implementation works in the `wp-config.php` but not the `functions.php`. I'd send a pull request for the docs but they aren't open source :-) Over to you!

[2018-11-21 15:04] joshcanhelp commented on #591
The setup wizard is the preferred way to do it as it takes care of all of the different details. That said, we're working on a way to have that be a little more interactive and less of a black box.

Thank you! It's a lot of fun and pretty much every issue either leads to a fix/improvement or better documentation so it's all part of the process 😄

[2018-11-21 15:04] #591 closed

[2018-11-21 15:12] joshcanhelp commented on #569
@Floppy ☝️

@toddheslin - Thanks for trying that out! I'll make sure the plugin is not picking up those constants if it's not also using them. I don't think it's going to be possible to use constants in `functions.php` as that's too late in the load process but you could try putting them in an `mu-plugin` [info here if you're not familiar](https://codex.wordpress.org/Must_Use_Plugins), which will

[2018-11-22 10:44] Floppy commented on #569
Ah, interesting, I'm setting it in `functions.php` too. I'll move it earlier into `wp-config.php` and see if that helps.

[2018-12-07 15:16] stoicbuddha opened #597 "Invalid State error 100% of the time"
### Description

When I try to log in via wp-admin or the Lock popup, I get `There was a problem with your log in: Invalid state [error code: unknown]`.  From what I can tell, it's having problems validating the JWT value but I'm not sure why.

### Environment

* WP-Auth0 version: 3.8.1 (I've seen this with 3.6.2 though as well)
* WordPress version: 4.9.6
* PHP version: 5.6.38
* Lock version: 11.1

[2018-12-07 18:13] joshcanhelp commented on #597
Sorry for the trouble here @stoicbuddha ... best place to start with this is our troubleshooting guide here:

https://auth0.com/docs/cms/wordpress/invalid-state

If you walk through all those steps, you should be able to figure out the issue. Otherwise, there are instructions for how to generate a HAR file, which you can post here (redacting anything sensitive) or email directly to me (let me know

[2018-12-10 11:31] toddheslin commented on #569
Status update on this one - adding it to a `mu-plugin` works perfectly.

[2018-12-10 15:54] joshcanhelp commented on #569
Great, thank you @toddheslin! I'll make sure the [next version](https://github.com/auth0/wp-auth0/milestone/21) does not show the message unless it's actually using the constant as well as updating the documentation to be more clear.

[2018-12-10 22:00] stoicbuddha commented on #597
Hey @joshcanhelp

There is an error in the docs: `wpAuth0LockGlobal.auth.settings.state` should be `wpAuth0LockGlobal.settings.auth.params.state`, per the page source and your sample json.

Outside of that, the site is on WP Engine which has some pretty aggressive caching, but I still get `x-cache: MISS` on every call, so I'm not sure if caching is the problem. I created a HAR; send me your email

[2018-12-10 22:32] joshcanhelp commented on #597
@stoicbuddha - Thank you for pointing that out. I'll get that corrected when I address the rest here.

We've had recurring problems with WP-Engine and caching (not that they are doing something wrong, just that their caching is aggressive, as you mentioned) and I was actually working on an addition to that troubleshooting guide that addresses them specifically. The way to validate that this is the

[2018-12-11 16:21] stoicbuddha commented on #597
@joshcanhelp Thanks for getting back to me. I'll await your response on this to see where I go from here.

[2018-12-11 23:02] #569 closed

[2018-12-14 17:57] joshcanhelp commented on #597
@stoicbuddha - I just tested this out in a production WP-Engine environment and I was not able to reproduce it in either a regular database or a custom one (user migration), object caching both on and off. I know this is an issue because we've also had support tickets about it but I'm not sure where to go from here.

Do you have any custom caching set up? Any other custom settings/plugins that mig

[2018-12-17 19:24] joshcanhelp commented on #351
Have to punt this to the major release, planned for early next year. I've not been able to find a simple way to keep this route as a functional callback for sites still using it so removing outright would be a breaking change.

[2018-12-19 17:16] joshcanhelp commented on #597
Just FYI on this, I have a ticket open with WP-Engine to investigate a root cause here. I'll leave this open until we have either a fix in place or documentation. In the meantime, I updated the troubleshooting guide linked above.

[2018-12-20 17:40] joshcanhelp commented on #597
@stoicbuddha - I'm still not able to reproduce this issue but worked with WP-Engine to determine that this is likely related to caching and cookies, as I suspected. I added the fix you mentioned above a couple of days ago and will add the following as well:

### Cached cookies and URL parameters.

If you're on a managed host like WP-Engine, you may need to contact their support team for additional

[2018-12-20 17:40] #597 closed

[2019-01-03 01:12] joshcanhelp commented on #541
@leokoo - Just circling back to this before we release the latest version. I'm not seeing any issues with how SLO is implemented in the plugin. I'm wondering if maybe you were using a social connection without generating your own keys (using the default development keys)? If so, that check will always an error and log users out. If this is the case, either generate your own keys there or try a reg

[2019-01-07 19:49] joshcanhelp commented on #541
Going to close this for now. Please let me know if there are any other questions here.

[2019-01-07 19:49] #541 closed

[2019-01-14 06:57] toddheslin opened #620 "User Migration set as PHP constant causes token to not be generated"
Hey @joshcanhelp this is just a note to either consider a fix or an update to the docs. The `migration_ws` variable, when set as a ENV such as:
[code]
Will mean that when you load the plugin in a new environment, it **will not** generate a webservice token. The only way to do it is:

1) Disable this constant
2) Switch the option on manually
3) Get the token
4) Set both variables back in the config

[2019-01-15 00:32] toddheslin commented on #620
Thanks Josh. I implemented this the day before the release came out haha

[2019-01-15 00:39] joshcanhelp commented on #620
Sorry for the poor timing!

[2019-01-15 00:48] toddheslin commented on #620
Not at all, thanks for the great work! 💯

[2019-02-25 07:14] ShayMe21 commented on #494
More details about the cookie naming requirements in Pantheon: https://pantheon.io/docs/cookies

Quick fix to this issue for me was downloading Code Snippets plugin and adding a new snippet with the code @joshcanhelp included in the PR https://github.com/auth0/wp-auth0/pull/495

No more "Invalid State" errors!

[2019-02-28 09:08] oloflarsson opened #627 "1Password Compatibility"
### Description
The Auth0 setup wizard on the settings page within Wordpress triggers the 1Password browser plugin. First of all it pops up and seems to believe it should fill out some hidden field. Secondly it inputs credentials into the domain and key form.

<img width="2048" alt="one" src="https://user-images.githubusercontent.com/421009/53554481-25d25d80-3b40-11e9-9230-4dba900f7b9b.png">
This

[2019-02-28 17:27] joshcanhelp commented on #627
@oloflarsson - I've seen that on my end as well. 1Password is seeing the `password` field in that modal and triggering your extension. I looked through the 1Password forum and see a few posts on that saying it's not possible:

https://discussions.agilebits.com/discussion/12412/how-to-tell-extensions-to-ignore-a-form-field

https://discussions.agilebits.com/discussion/96661/disabling-1password-x-fo

[2019-02-28 17:27] #627 closed

[2019-03-14 13:27] coperator opened #631 "OpenSSL error in WP_Auth0_Api_Client_Credentials::call"
### Description

The error happens, if a user tries to change his password.
Since there is no valid api_token, Wordpress calls `WP_Auth0_Api_Client_Credentials::call()`.
The JWT::decode() fails to verify the signature:
[code]
The DomainException is thrown:
[code]
and written to the Auth0 Log.

The line 80 in `php-jwt/JWT.php`:
[code]
seems to result in a broken `$sig`.

I checked the token returne

[2019-03-14 13:32] coperator commented on #631
I do not understand, why the API token is decoded at all. I only need the token, but not the decoded version, as obvious in line 86-87 of  `WP_Auth0_Api_Client_Credentials.php`
[code]

[2019-03-14 20:13] joshcanhelp commented on #631
@coperator - That decoding is also validating the access token we get back for the Management API. So, while we don't use any of the data in there, we're checking to make sure it's valid.

You mentioned the "JsonWebToken Signature Algorithm" for the Application in Auth0 but this is for the Management API so that setting is APIs > Auth0 Management API > Signing Algorithm (should be RS256 and not ab

[2019-03-15 10:06] saucompeng opened #633 "WP_Auth0_Routes::migration_ws_login, 401 Invalid Credentials"
I add Login by auth0 plugin to my wordpress, I have an error like **WP_Auth0_Routes::migration_ws_login, 401	Invalid Credentials** when I try Login script at custom database.

Then I install a new wordpress for test to new droplet, I installed plugin successfully. What is the problem at my main wordpress?

[2019-03-15 16:10] joshcanhelp commented on #633
@saucompeng - Thank you for the report here!

A 401 from that endpoint means that the request is not allowed. Do you have **Auth0 > Settings > Advanced > "Migration IPs Whitelist"** in the plugin turned on? That will restrict by IP address, though the default incoming Auth0 IPs should be whitelisted automatically. Also, check to make sure the Migration Token on the same settings tab matches what i

[2019-03-15 19:55] #631 closed

[2019-03-16 17:34] saucompeng commented on #633
Thank you for your response.

I checked what you said. Migration IPs white list comes automaticliy when I use user migration wizard. It's ok. And I checked token which is same both of pages.

When I try "Get User" script, it gets my account information successfully. But Login script says, "Wrong email or password."

[2019-03-18 19:03] joshcanhelp commented on #633
That sounds like you might be using the wrong password, then. The main difference between those 2 scripts is that Get User looks for the existence of a user while Login checks your password. Keep in mind that once the user has been migrated to Auth0 (logged in once with the Auth0 login form, you should see a **Delete User Data** button on their WordPress profile edit page), the password that's use

[2019-03-19 11:27] saucompeng commented on #633
The password is true. Same time, my colleague tries with his account, the problem is the same and continues :/

[2019-03-19 17:41] joshcanhelp commented on #633
Looks like you deleted out the issue template we've got set for this repo so can you tell me what version of the plugin, WordPress, and PHP you're using?

This sounds like an issue with the API token saved but that should only happen when the plugin is updating (judging from the mention of `WP_Auth0_DBManager::install_db`). Does that error show up in the plugin error log on each attempt at logging

[2019-03-20 07:25] saucompeng commented on #633
Sorry about deleting.

My wordpress version is 5.0.3, Php version: 7.0.32, Woocommerce version: 3.5.4

**Does that error show up in the plugin error log on each attempt at logging in?**
Only show when I use "User Migration Setup", other login attempts, it gives an error like: "invalid credential"

**Can you try deactivating the plugin then reactivating and see if that helps? **
I've erased and rei

[2019-03-20 13:41] joshcanhelp commented on #633
Thanks for that! How about WP-Auth0, is that on the latest?

[2019-03-20 13:44] saucompeng commented on #633
Version 3.9.0

[2019-03-20 16:15] joshcanhelp commented on #633
Alright, that's the latest.

We are just finishing up a troubleshooting guide for user migrations if you want to take a look. Not officially reviewed or published but might help you figure out the root cause:

https://github.com/auth0/docs/blob/b12cad7d940d6a19dd1fb4786ec17750191aea46/articles/cms/wordpress/user-migration.md#troubleshooting

You might try running through the manual setup steps as

[2019-03-27 15:42] coperator commented on #631
@joshcanhelp Thank you for your prompt reaction and explanation!
When we started our Wordpress application with Auth0 we had problems with RS256 and, thus, simply used HS256, but since I now realized that it makes things a lot easier, we will most probably switch to RS256 for the application JWT.

However, as mentioned above, in my mindset applications should not care about decoding access tokens.

[2019-03-27 22:38] joshcanhelp commented on #631
Yes, this is guidance we typically give. In this case, the intent was a slightly better experience but I came up with a better way to do that in #632.

Thanks again for the report here!

[2019-03-29 23:26] joshcanhelp commented on #633
@saucompeng - Were you able to solve your issue here? We're gearing up for a release soon and want to make sure I include any fixes, if needed.

Thanks!

[2019-03-30 12:49] saucompeng commented on #633
@joshcanhelp I couldn't fix the problem yet. Please help me

[2019-03-30 21:39] joshcanhelp commented on #633
Did you walk through the troubleshooting guide above? What is the error you're seeing when you follow those steps? Did you get stuck anywhere during the steps.

[2019-04-01 07:55] saucompeng commented on #633
I changed script Line 30 to callback(wpUser.error); it gives an error like "invalid credentials", And I changed my password again, it gives same error also.

[2019-04-01 08:31] saucompeng commented on #633
Finally, I found the problem. reCaptcha plugin blocks login :( I disabled it and login succesfully.

[2019-04-01 16:08] joshcanhelp commented on #633
Thanks for the update @saucompeng! If you can post a link to the plugin you're using, I'll take a look and see if there's something we can do differently on our end to be more compatible.

[2019-04-01 16:08] #633 closed

[2019-04-09 15:24] freddyheppell opened #667 "Sign in with OTP MFA doesn't work unless "Remember this browser" is enabled"
### Description

If I sign into an account with OTP MFA (i.e. Google Authenticator) enabled but don't check the "Remember this browser" box, the sign in is succesful and I am shown the WP dashboard, but then am immediately redirected to a specific post on my website signed out.

I can't see why it's this post specifically - there's no special significance to it.  This also happens when my session

[2019-04-09 18:47] joshcanhelp commented on #667
@freddyheppell - Sorry for the trouble here. Do you have "Single Logout" turned on in the **Features** tab of the plugin settings? If so, turn that off and you should be fine. That feature will be changing a bit in the next version but, currently, it checks for an Auth0 session and kicks you out of WordPress if one is not found.

Thank you for the detailed report here!

[2019-04-09 19:56] freddyheppell commented on #667
That's fixed it, thank you!

[2019-04-09 19:56] #667 closed

[2019-05-13 14:35] kevinfodness opened #687 "WordPress.com VIP Go MFA incompatibility"
### Description

WordPress.com VIP Go will be requiring all users that have edit posts capabilities to use their MFA system as of May 29, 2019. If a user on a VIP Go site configures MFA on their account, they can no longer log in using Auth0, as the authentication flow presents a white screen when the MFA prompt should appear.

Although there are filters to disable the requirement for users to use

[2019-05-14 23:59] joshcanhelp commented on #687
@kevinfodness - Thank you very much for this report and all the details! I'm happy to take a closer look and see what we can do but, in the meantime, have you tried with Features > Universal Login Page turned on?

[2019-05-24 01:02] kevinfodness commented on #687
Hi @joshcanhelp —

Thanks for the suggestion, but unfortunately, the same behavior exists when I turn on that setting.

[2019-05-24 19:27] joshcanhelp commented on #687
@kevinfodness - One more option ... we adjusted how the core WordPress login forms are handled and will be releasing that soon. Are you able to test with the `master` branch here? I think what's happening is that the form they're using for MFA is being hidden by CSS loaded by the plugin. You can try this out by inspecting that area and looking for a hidden form. It might just be that we need to ad

[2019-05-24 20:25] joshcanhelp commented on #687
I was able to get a local setup running and it looks like my theory on what's happening here is correct. That form is hidden by default and the embedded form shows (this is with the `master` branch here).

![Screen Shot 2019-05-24 at 1 19 07 PM](https://user-images.githubusercontent.com/855223/58354719-228cfc00-7e27-11e9-8196-df8f82ba6d03.png)

You can tinker with the CSS to show the form but subm

[2019-05-28 17:34] kevinfodness commented on #687
Sounds great! Looking forward to what you can do here. Thanks so much for the assistance.

[2019-05-29 16:13] #687 closed

[2019-06-26 20:40] #351 closed

[2019-07-21 21:29] jigsawsoul opened #701 "Authorization Extension, groups, roles not showing up"
Hi,

I am using the _Authorization Extension_ - although seem to be having trouble receiving data regarding the user's groups, roles and permissions.

The extension added rule automatically to enable this information to be passed back with the user information. I am trying to access this information within the `auth0_user_login` hook but I have yet to have any luck.

Some context of what I am tryi

[2019-07-29 17:33] joshcanhelp commented on #701
@jigsawsoul - Happy to help and apologies for the delay!

The WP plugin does not currently have code that will sync up roles so using the hook you mentioned is the right way to go.

A lot of this guidance depends on how your plugin is setup but, with a default configuration, you'll want the Rule that the extension publishes to persist the data you're using (permissions, roles, and/or groups) in th

[2019-07-29 17:33] #701 closed

[2020-01-17 16:48] rafaels-dev opened #760 "pt-BR language is not being installed"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-01-17 20:30] joshcanhelp commented on #760
@rafaels-dev - Apologies for the confusion. The language files are in the `master` branch to be released with v4.0.0 (we're still a couple of weeks out from that). They can be copied into the current version, as you saw, but they will be missing some of the strings present in the current version.

[2020-01-17 20:30] #760 closed

[2020-01-17 20:35] rafaels-dev commented on #760
Hi @joshcanhelp. Could you include these files in version '3.11.2', please? I can see a branch called _3.11.2-dev_ in development.
Today, I've 11 tenants (and growing) and it's hard to copy for each instance, because they're running using _docker_ containers.

[2020-01-17 21:27] joshcanhelp commented on #760
The problem is that this translation file does not include a number of strings used in v3.x. We've removed a number of places where strings are output so you would be missing translations.

[2020-01-17 21:40] rafaels-dev commented on #760
Could I translate the file for v3.x and sent a PR?

[2020-01-17 21:41] joshcanhelp commented on #760
If you can do it in the next hour :) we have to release ASAP to account for SameSite changes - #758

[2020-01-17 21:42] rafaels-dev commented on #760
Next hour it's very hard to me, sorry. Go ahead with your release. I can make a PR for next versions, if it's applicable in your oppinion.

[2020-01-30 15:15] kinabalu opened #767 "wle parameter allows for possible XSS attack"
### Description

As seen in this pull request https://github.com/auth0/wp-auth0/pull/766 our team had a InfoSec pen tester successfully inject code into our login page because this parameter is injected without encoding

### Reproduction

Given a URL like YOUR_SITE_HERE/wp-login.php?wle=%22%20onEvent%3DX186697040Y2Z%20

it's possible in a situation to inject code into the page in this hidden input

[2020-01-30 17:22] kinabalu commented on #767
ref #768

[2020-01-30 21:47] MarcinHoppe commented on #767
@kinabalu thanks for reporting this to us and providing a PR. We have tested the fix, merged the PR, and released [version 3.11.3](https://github.com/auth0/wp-auth0/releases/tag/3.11.3).

Please note that in order to protect our customers that cannot upgrade immediately, we request **to not disclose security vulnerabilities in the public issue tracker**. Please see this readme section
for referenc

[2020-01-30 21:56] #767 closed

[2020-01-30 22:50] kinabalu commented on #767
Apologies for not reporting via the disclosure — didn’t see it but will
certainly in the future.

On Thu, Jan 30, 2020 at 13:47 Marcin Hoppe <notifications@github.com> wrote:

--
To our success!

Andrew Lombardi

[2020-03-26 10:11] nturbanov opened #782 "Custom settings are not saved due to newly introduced settings validation"
### Description

Custom settings fields (options) created using the `auth0_settings_fields` filter [created as described in the documentation](https://auth0.com/docs/cms/wordpress/extending#auth0_settings_fields) are not saved in the database upon saving changes in the Auth0 Settings.

I've tracked down the issue to the [new validation done to settings where non-default option keys are unset](http

[2020-03-26 21:45] joshcanhelp commented on #782
@nturbanov - Apologies for the trouble and I appreciate the detailed report here. We'll look into a fix right away.

[2020-03-31 16:59] #782 closed

[2020-04-05 22:05] szepeviktor opened #783 "Current custom autoloader is very slow"
### Description

The current autoloader is brute-forcing its way through PHP files.

### Suggestion

As Composer autoloader is already included
@joshcanhelp please consider using it for loading all our classes with `"classmap"`

May I send a PR?

[2020-04-05 22:19] szepeviktor opened #784 "Hooking in the main plugin file is highly unstructured"
May I come up with ideas what to do with adding filters and actions in `WP_Auth0.php`?

[2020-04-05 23:01] szepeviktor opened #786 "Basic trio of tests"
Please introduce my basic trio as authentication is a delicate matter.

1. syntax check `vendor/bin/parallel-lint --exclude vendor/ .`
1. coding standard ✔️
1. static analysis, see #785

These should be part of every CI.

[2020-04-06 13:36] joshcanhelp commented on #784
Sounds great! Thank you for the offer. Would probably be best to propose those in this thread before going ahead with a PR.

[2020-04-06 13:37] joshcanhelp commented on #783
As long as it's not a breaking change, that would be great!

[2020-04-06 14:46] szepeviktor commented on #783
@joshcanhelp Done in 16 lines.

[2020-04-06 14:58] szepeviktor commented on #784
[code]

[2020-04-06 15:29] szepeviktor commented on #784
I have a note on this topic: https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/wordpress/WordPress-hooks.md

As all of them are very cheap to add I am tempted to leave as it is.

Let's leave the essentials in the main plugin file:
- plugins_loaded
- register_de/activation_hook
- register_un/install_hook

Move others into:
- WP_Auth0_Hooks.php - always runs
- WP_Auth0_Admin_H

[2020-04-06 16:12] joshcanhelp commented on #784
So ... one of the big changes in this latest major was to call hooks with functions, not class methods, to make it easier to unhook if needed. I definitely don't want to pack those back into classes for the sake of organization. Separate files like `hooks-woocommerce.php` and the like would make it more clear and keep the better DX afforded by global functions.

[2020-04-06 16:26] joshcanhelp commented on #786
@szepeviktor - Are we OK to close this now?

[2020-04-06 16:37] szepeviktor commented on #786
If you are not wiling to start using PHPStan, add it to CI, and fix some more problems.

[2020-04-06 16:39] szepeviktor commented on #786
[code]

[2020-04-06 16:39] joshcanhelp commented on #786
I am willing to accept more PRs 😄 I wasn't sure if #785 was the extent of what you wanted to do or if there was more.

[2020-04-06 16:40] szepeviktor commented on #786
That PR was a bunch of fixes on Level 2, no integration.

[2020-04-06 16:42] szepeviktor commented on #786
- Variable $user need cleaner, testable logic
- WP_Auth0_Nonce_Handler needs to be final to be safe
- wc_get_page_id could be added as a stub
- making an object from JSON data could be replaces with an array output, stray objects are dangerous and not testable

[2020-04-06 16:47] szepeviktor commented on #786
e.g. in WP_Auth0_Api_Client::create_client we may go two ways.

- WordPress says: failure is `false`
- PHP says: base value is `null`
- Modern OOP says: you need to throw and catch an exception!

[2020-04-06 18:01] #783 closed

[2020-04-06 18:04] joshcanhelp commented on #786
I'm open to suggestions. That entire method could use a better approach and I'm wary about changing logic just to pass a code style test. Feels like there are better places to focus effort.

That's extended by `WP_Auth0_State_Handler` (which is final)

Or a guard on that method like `!function_exists('wc_get_page_id')`

All of the stuff in `WP_Auth0_Api_Client_Credentials->handle_response()` is in

[2020-04-06 18:17] szepeviktor commented on #786
Excuse me!! PHPStan is a static analysis tool that has way more eyes than we humans do.

Wait for Level MAX.

[2020-04-06 18:20] szepeviktor commented on #786
I tell you my secret. Everything I do to this plugin is to make testable with PHPStan, so my inner QA engineer can live with it.

[2020-04-06 20:02] szepeviktor commented on #786
### Conclusion

Many of the WordPress-realted abnormalities could be solved by installing 840 lines of code: https://github.com/thephpleague/container

(or [another container](https://rawgit.com/kocsismate/php-di-container-benchmarks/master/var/benchmark.html))

[2020-04-06 20:02] joshcanhelp commented on #786
I'm open to seeing PRs that address this but refactoring code, particularly code that is not tested and has been around for a while, is not without risk. I understand that you want to improve the code base and I really appreciate that. We have to weigh the benefit of that improvement with the risk of making changes.

[2020-04-07 16:47] szepeviktor commented on #786
Introducing a DI container could reduce our code as all lines dealing with instantiation could be simply removed.

[2020-04-07 16:56] joshcanhelp commented on #786
Could you help me understand exactly what that means, in this context? Would we need breaking changes? Would the DX change? What are the main benefits we would get out of introducing that?

[2020-04-07 17:37] szepeviktor commented on #786
things like

https://github.com/auth0/wp-auth0/blob/709ec491069d307b6f80c8268aacd7c3115c9dbf/lib/WP_Auth0_Options.php#L45-L53

could vanish right away

[2020-04-08 03:24] joshcanhelp commented on #786
Sounds like a solid improvement. Happy to take a look at a PR. I would start small, though, so the review burden isn't too high.

Appreciate your work here in advance!

[2020-04-30 20:19] drobin03 opened #790 "With a custom domain, JWKs aren't being fetched from the correct domain"
### Description

** Disclaimer ** I am on a project with a closed (to me) Auth0 configuration, so I might be off base here.

We have a custom domain configured in Auth0. The problem is, the main Auth0 domain returns a 404 from '<app>.auth0.com/.well-known/jwks.json', whereas on the custom domain, that endpoint exists and returns correctly. Unfortunately, the `WP_Auth0_Api_Get_Jwks::call` method ap

[2020-05-04 14:22] joshcanhelp commented on #790
@drobin03 - Appreciate the detailed report here, this helped figure out the root cause. You are correct, the call for the JWKS does not take into account custom domains. I'll put through a PR for that right now.

[2020-05-05 00:32] #790 closed

[2020-05-26 14:07] GuyAvraham opened #796 "Using custom redirect_to parmater"
On WP Admin panel - Auth0 settings:
![image](https://user-images.githubusercontent.com/4614438/82910342-3788f780-9f73-11ea-8e0b-0c687ebdf136.png)

The redirect_to dosent work well.
Looks like my redirect after login always arrive to the setting above,
even if i try:
https://mysite/wp-admin?redirect_to=mysite/somePath
Update:
It works with
https://mysite/wp-admin?redirect_to=/onlyRelativePath

[2020-05-26 15:32] siddhantdante opened #797 "I want to do mutation queries on wordpress wpgraphql."
This is plugin does not generate an access token for WordPress authentication I mean how do I create a post using this auth0 login by a decoupled front-end. How do i get current user scope in my react app using bearer token like jwt authentication plugin does or wp-graphql-jwt-authentication plugin does.

https://my-wordpress-domain/graphql
request this url with bearer token in wordpress so that i

[2020-05-27 16:58] #796 closed

[2020-05-27 17:33] joshcanhelp commented on #797
@siddhantdante

The plugin does not generate access tokens, correct.

That would be outside of the scope of this plugin. This plugin just replaces the login process. Once the user is logged into WordPress via Auth0, the plugin's job is done.

If there's anything we can do to make our plugin play nicely with another plugin providing that functionality, we're happy to take a look. Unfortunately, I'm

[2020-05-27 17:34] joshcanhelp commented on #796
@GuyAvraham - I'm guessing you solved your issue. Is there anything we can do here to avoid this issue in the future?

[2020-05-27 18:03] siddhantdante commented on #797
I am currently working on this is plugin https://github.com/wp-graphql/wp-graphql-jwt-authentication  to validate the auth0 API token so that when I request a graphql request on my server by passing an authorization header with auth0 API access token. And trying to decode it at the server-side and trying to authentication users each time I do graphql request.

please help me if i am heading in wro

[2020-05-27 18:05] siddhantdante commented on #797
@joshcanhelp

I am currently working on this is plugin https://github.com/wp-graphql/wp-graphql-jwt-authentication to validate the auth0 API token so that when I request a graphql request on my server by passing an authorization header with auth0 API access token. And trying to decode it at the server-side and trying to authentication users each time I do graphql request.

please help me if I am h

[2020-05-27 18:16] joshcanhelp commented on #797
Where is that coming from? How is it being requested?

Do you have access to the validation rules? The access tokens Auth0 (the server, not the WordPress plugin) generates should be validated as a standard JWT:

https://auth0.com/docs/tokens/guides/validate-access-tokens#custom-api-access-tokens

Decoding that in your WordPress application? So your Application and your API as defined in Auth0 are

[2020-05-28 07:29] GuyAvraham commented on #796
@joshcanhelp Thanks for looking up to improve.
Maybe if we look at the image I pasted - a clear example of using the relative path will reduce the place for mistake.

[2020-05-28 07:52] siddhantdante commented on #797
I have created an API in auth0 dashboard

thanks

working on it.

if you have any better opinion that how I can authenticate with WordPress using auth0 login and can do operations directly on WordPress using graphql API.

[2020-06-01 08:23] GuyAvraham opened #798 "Having user_metadata from auth0 into wp profiles"
Hello,
I am working with auth0 wordpress plugin for a while.
My auth0 application uses phone-passwordless method.
All of my usernames are phone_numbers, on the user_metadata I save more data including names from my CRM.

Now: auth0 users are only created on wp with the phone number as user name.
I want user_metadata to be part of the wp user profile.
I went through this guide that explains exactly

[2020-07-09 06:20] mt8 opened #799 "WordPress user creation may fail after Twitter authentication"
### Description

Creating a WordPress username fails if Twitter profile contains unusable characters for WordPress username.

### Reproduction

I use Japanese characters on my Twitter profile. If try to Twitter authentication, WordPress user creation will fail.

<img width="584" alt="スクリーンショット 2020-07-09 15 10 34" src="https://user-images.githubusercontent.com/2771396/87003424-97232580-c1f6-11ea-9

[2020-07-12 18:03] #784 closed

[2020-07-14 18:04] #786 closed

[2020-07-28 12:28] Zae opened #800 "Possible infinite loop in profile_update hook"
### Description

When logging in with the auth0 plugin I expect to be able to login, however we've noticed since updating to Auth0 v4, that some users are getting out of memory issues when logging in. It seems that for some users an infinite loops triggers that causes PHP to crash eventually.

### Reproduction

I don't know the full details to reproduce yet, however I seem to have fixed it for us

[2020-08-13 12:08] saltukalakus commented on #800
This issue is also tracked in a support ticket (SF 00463569). Just FYI.

[2020-09-02 14:22] #797 closed

[2020-09-03 11:31] saltukalakus commented on #800
Hi @joshcanhelp do you think the provided information is sufficient to work on the issue?

[2020-09-06 11:30] #798 closed

[2020-09-24 22:09] joshcanhelp commented on #800
@Zae - Apologies for the long delay here. I think you're spot-on with the root cause here and we'll get that fixed and released as soon as possible.

[2020-09-24 22:18] joshcanhelp commented on #799
@mt8 - Apologies for the long delay here. The work-around you're describing won't always work since `identities` does not always come with the user data and, on my end, I'm not seeing `screen_name` as part of the identity that comes in.

Can you tell me the exact error you're seeing? Output from the Auth0 plugin log as well as any relevant PHP error logs would be helpful as well. I'm wondering if

[2020-09-30 12:34] mt8 commented on #799
@joshcanhelp Hi,

In what cases does this happen?

[2020-09-30 14:50] joshcanhelp commented on #799
Simply turning on the connection and using it:

![Screen Shot 2020-09-30 at 7 50 28 AM](https://user-images.githubusercontent.com/855223/94701573-a4c9e200-02f1-11eb-8475-16a919dbf893.png)

[2020-09-30 14:56] mt8 commented on #799
@JoanDelilahPepin Thanks.
What is the difference between getting sceen_name and not getting it? I can always get it in my environment.

[2020-09-30 15:54] joshcanhelp commented on #799
I'm not entirely sure, to be honest. All that data comes from Twitter.

Aside from that, though ... can you tell me what the error you're seeing is and when you see it? The plugin error log and your server's PHP error log might also have clues here. Since we can't rely on `screen_name`, we can look into handling the encoding better.

[2020-09-30 15:56] mt8 commented on #799
@joshcanhelp Thank you for your reply. Okey. Reproduce and report the error again.

[2020-10-01 22:04] #800 closed

[2020-10-02 07:03] mt8 commented on #799
@joshcanhelp

I got this error, when I tried to twitter auth login.
[code]

Here is my twitter account.
https://twitter.com/mt8_dot_biz

「モトハチ」 is the `screen_name` for my account.
The problem is that the plugin is trying to use `screen_name` for WordPress `user_login`.

[2020-10-07 23:40] joshcanhelp commented on #799
So, I misspoke before, I do see the `screen_name` field on my Twitter user. I think that is the one we want to use, though, at least according to their documentation:

https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/overview/user-object

Do you see what `mt8_dot_biz` is coming through as in the Auth0 user? If so, we can get that mapped to the right place.

[2020-10-08 00:09] mt8 commented on #799
@joshcanhelp

sorry. I also said wrong.

`screen_name`: `mt8_dot_biz`
`name`: `モトハチ`

The current plugin seems to be trying to set `name` to WordPress User's `user_login`.

[2020-10-08 03:25] joshcanhelp commented on #799
No worries, just wanted to make sure I had my information correct.

So ... what we need to do is:

1. Map the name we need to use to a custom ID claim
2. Use that custom ID claim when creating the user

The first step needs to happen in a [Rule](https://auth0.com/docs/rules). This should do the trick:

[code]

The second part needs to happen in custom code in your theme or in a custom plugin. I ju

[2020-10-08 23:00] mt8 commented on #799
@joshcanhelp

Thank you for your reply and for providing a great solution.
It worked perfectly.

Ideally, it works only with plugins without these support (Rule / WordPress filter).

Perfect for someone like me who understands Rules and WordPress filters, but for those who don't, they'll give up on Twitter connections.

I would be grateful if you could consider this.

[2020-10-08 23:20] joshcanhelp commented on #799
I appreciate the feedback here. The identity mapping of the Twitter connection is not likely to change anytime soon as that would break anyone relying on how it works already. The problem here is that `screen_name` is specific to Twitter and doesn't really map to any standard identity claims. As such, it's relegated to custom claims like this one.

We are rolling out a better system for doing cust

[2020-10-08 23:20] #799 closed

[2020-10-18 08:24] vashisth00 commented on #797
This is still a recurring issue right now

[2020-10-27 11:16] tonygil opened #807 "4.1.1 Email init error"
Hi Guys
Had a problem with update  4.1.0 to 4.1.1
It broke the site.
Had to rollback to 4.1.0
[10:27] Gilpin, Tony

Fatal error: Uncaught Error: Call to a member function set_account_name() on bool in /var/www/html/wp-content/themes/Divi/core/components/api/email/init.php:26 Stack trace: #0 /var/www/html/wp-content/themes/Divi/core/components/api/email/init.php(6): et_core_api_email_fetch_all_list

[2020-10-27 12:26] evansims commented on #807
Hi Tony 👋  I'm not familiar with the theme you're running there, but looking at the error, it appears to be doing some custom email registration process? Did you see this error when a specific action was done on the site, or was it on page load? Also can you tell me what WP and PHP versions? Thanks.

[2020-11-03 15:04] #807 closed

[2020-11-10 20:40] a7i opened #809 "Extra Settings for Universal Login"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-12-09 12:56] tharsheblows opened #811 "Add filter(s) to allow storing Auth0 user data somewhere other than in usermeta"
### Describe the problem you'd like to have solved

It would be useful for sites with large numbers of users to be able to avoid the `get_users` call in `WP_Auth0_UsersRepo->find_auth0_user()` as it searches over unindexed meta values in the usermeta table.

Ideally, there would also be filters in `WP_Auth0_UsersRepo->get_meta()`, `WP_Auth0_UsersRepo->update_meta()` and `WP_Auth0_UsersRepo->delete

[2020-12-09 13:40] evansims commented on #811
Hey @tharsheblows 👋 Thanks for your suggestion! That sounds like a reasonable request to me. I'm a bit tight on bandwidth at the moment but I'll try to get to this as soon as I'm able to, or if anyone would like to contribute a PR that would be most welcome too.

[2020-12-09 14:37] tharsheblows commented on #811
@evansims Awesome, thank you. I'm happy to contribute a PR and will do that soon. I'm having trouble with phpunit here but think that this is a known issue: [Uncaught Exception: Serialization of 'Closure' is not allowed when run PHPUnit in plugin development](https://core.trac.wordpress.org/ticket/50482#comment:13)

Is that it ok to submit a PR without tests? I don't want to submit tests that fail

[2020-12-09 14:58] evansims commented on #811
@tharsheblows A PR on that would be very much appreciated! Sure, feel free to submit without tests if need be. I'll take a look once the PR is up and see what can be done about them. 👍 Thanks in advance for your help

[2020-12-09 15:05] tharsheblows commented on #811
@evansims The tests almost work, some of them need `@preserveGlobalState disabled` in addition to `@runInSeparateProcess` (thus far -- I'm one class in `TestConstantSettings` -- it's `new WP_Auth0_Options()` causing the issue). I'm going to go ahead and "fix" (in quotes because I'm not entirely sure) those so I can test for myself and see what happens.

But I'm nearly done for the day and will do

[2020-12-09 17:35] tharsheblows commented on #811
I'm sorry for the off-topicness of this but there's a fix here: https://core.trac.wordpress.org/attachment/ticket/50482/50482.diff -- for me, applying to my WP test install makes everything work again. (The `post-format` theme registration was the culprit 😊). So I will add tests and see if it all works then do a PR soon.

[2020-12-09 20:42] evansims commented on #811
No apologies necessary, I appreciate you working on this! Looking forward to it! 👍

[2021-01-26 18:35] evansims commented on #809
Hey @a7i 👋 Thanks for the suggestion. This is an interesting idea, I'll explore this and see if it's viable here.

[2021-02-02 15:45] evansims commented on #811
Thanks for your help on this, @tharsheblows! This has been merged and will be part of the next release

[2021-02-02 15:45] #811 closed

[2021-02-10 00:14] bruno-barros opened #818 "Can't validate session because of string|array|object conversion"
### Describe the problem

I'm integrating on a staging environment. Everything seems to be configured, but at the end of process I get "Ivalid ID token".
The problem happens after auttentication during the redirection process inside WP.

### What was the expected behavior?

After log user in, redirect to my home page.

### Reproduction

Debugging the Auth0 plugin I resolved the problem type castin

[2021-02-11 17:55] evansims commented on #818
Hey, @bruno-barros! Thanks for raising this 👋

That's a strange one! I'm not sure why you'd be hitting type errors there; those should be the expected types already being returned in any cases I can really think of. This is more or less the same verification flow copied over from our main PHP SDK. I've not seen this one reported before. I cannot reproduce this using the same WP version and PHP run

[2021-02-11 19:49] #818 closed

[2021-02-22 07:55] akselhenriksen79 opened #822 "This site requires a verified email address"
Some users are getting an error claiming that the site requires a verified email address, even though this is NOT required - the setting is not enabled.

[2021-02-22 19:21] evansims commented on #822
Hi @sjobidoo 👋  Thanks for raising this, and sorry you're encountering problems with this. I'll see if I can recreate this issue on my side and get back to you. Could you please tell me what version of the plugin, WordPress, and PHP you're using? Thanks

[2021-02-22 19:29] sjobidoo commented on #822
Hi Evan,

thanks for getting back to me.

We're using:

WordPress: 5.6.2 ( Multisite )
Auth0 plugin version: 4.2.0
PHP version: 7.3.

It's somewhat of a weird bug...I haven't been able to find a way to
recreate it myself. For example: One of our users have two accounts (he's
an Auth0 dashboard admin) - one of the users can access the site fine, the
other gets the error in question.

On Mon, Feb 22

[2021-02-22 20:46] evansims commented on #822
Hmmm, that is curious! Thanks very much for the extra details, that'll help me try to troubleshoot this. I'll get back to you when I have an update

[2021-03-01 04:15] evansims commented on #822
Hey, @sjobidoo 👋 Didn't want you to think I forgot about this, still looking into it but haven't been able to reproduce it locally here yet. I Will have more time to give it attention this week, I'll get back to you.

[2021-03-05 14:02] roborourke opened #823 "Publish to packagist 🙏"
### Describe the problem you'd like to have solved

Hey, I was wondering if you would consider publishing this plugin to packagist.org too? Great to see it you have it set up for wpackagist but I have a use-case where that isn't an option.

If I wanted to have this plugin as a dependency of another package then I _have_ to get it from packagist.org as dependencies can't specify custom repositories

[2021-03-08 04:53] evansims commented on #823
Hey, @roborourke 👋 Thanks for the suggestion! That request makes perfect sense to me. If you'd like to put a PR together for that it'd be greatly appreciated!

[2021-03-08 20:26] evansims commented on #823
Merged, thanks!

[2021-03-08 20:26] #823 closed

[2021-03-22 11:49] yaymalaga opened #826 "Signup support in New Universal Login Experience"
### Describe the problem you'd like to have solved

I enabled the signup in WP and even though the signup link becomes `/wp-login.php?action=register` I am still redirected to Auth0's login page.

### Describe the ideal solution

I should be redirected to Auth's signup page instead.

## Alternatives and current work-arounds

A filter can be created to read the `action` parameter and then inject `s

[2021-03-23 01:32] evansims commented on #826
👋  Hey @yaymalaga and thanks for raising this. Have a few big items on my plate this week I'm working on, but I'll look into this as soon as possible and get back to you.

[2021-05-21 17:08] mattsilv commented on #822
did anyone find a resolution to this? we are having this issue now as well

[2021-05-21 18:21] evansims commented on #822
Hey, @mattsilv 👋 Sorry for the lack of update on this ticket. I've unfortunately been pulled onto a major initiative these last few weeks that have tied me up so I haven't had a chance to dive too much deeper into this yet - my apologies! I wasn't able to reproduce it locally as of yet, but there is clearly an issue there since multiple people are seeing it. I'll investigate as soon as my bandwidt

[2021-06-08 07:01] the133448 opened #830 "JWT Access Token - Custom Audience"
We have noticed that the Access Token being generated is not in the form of a JWT Token, it is a much shorter Opaque token, which whilst able to access the `userinfo` endpoint, is not able to access a custom API we have added to Auth0.

To fix this I believe we need to adjust the audience field that this plugin is creating, in particular [here](https://github.com/auth0/wp-auth0/blob/b5528166700686

[2021-06-09 00:42] the133448 commented on #830
Update, I have discovered in Auth0 Tenant Settings > API Authorization Settings, there is the ability to declare a Default Audience which correctly returns the JWT token.

So, perhaps let me update this feature request to make it configurable to request multiple audiences?

[2021-06-09 02:12] evansims commented on #830
Hey @the133448 👋 Thanks for reporting this; I'm out on holiday this week but I'll take a look at this as soon as I can when I return. (Sorry not to have anything to report yet, just didn't want to leave you hanging.)

[2021-07-10 02:20] evansims commented on #822
Hey again all 👋 Sorry for the delay, have had my plate full with an update to the PHP SDK.

After some experimenting, I've finally been able to reproduce this under a specific circumstance: when I have more than one Auth0 connection, and each contains users with the same email address, attached to the same WordPress application on Auth0. Since the WP plugin attaches each WP account registered to a

[2021-07-10 02:45] evansims commented on #809
Hey again @a7i 👋 Sorry for the delay. I've researched this request and have created a backlog internally for this work, slated for the next major release of the WP plugin. It will require some foundational work to support within the plugin to implement in a satisfactory way.

For the moment, I'd recommend creating your own filter to customize the plugin, allowing you to add parameters to the /auth

[2021-07-10 02:45] #809 closed

[2021-07-10 02:48] evansims commented on #826
Hey, @yaymalaga 👋 Sorry for the delay. I've created a backlog ticket for this work, as there's a number of improvements we'd like to slate around support for the new Universal Login experience in the next major release of the plugin. In the meantime, the workaround you mentioned is the best way to go about this, so thank you for sharing it!

[2021-07-10 02:48] #826 closed

[2021-08-02 11:36] evansims commented on #822
Haven't heard anything back; closing for now.

[2021-08-02 11:36] #822 closed

[2021-09-02 10:53] fuadhn commented on #807
Fatal error: Uncaught Error: Call to a member function set_account_name() on bool

I have same error on my website. Can you help me please

[2021-09-02 20:11] evansims commented on #807
Hi @fuadhn, I can help. Please create a new issue and describe your issue in detail. I'll need to know your WordPress and PHP versions, what version of the plugin you're using, if you're using some sort of custom theme, and under what conditions you see the error happening. Thanks!

[2021-09-10 08:20] cocojoe commented on #830
@the133448 is this still something you need advice on? Thanks

[2021-09-19 02:08] evansims commented on #830
Going to close this for now as it's gone stale; let us know if this is still an issue for you, and we can re-open.

[2021-09-19 02:08] #830 closed

[2021-11-09 10:59] Simon-ProjectPartners opened #837 "WordPress function get_avatar_url() returns the default WP user avatar and not the auth0 avatar"
### Describe the problem

Native WordPress functions that get the user avatar, such as `get_avatar_url()` don't return the auth0 avatar.

### What was the expected behavior?

`get_avatar_url()` should return the auth0 avatar.

### Reproduction

Call `<img src="<?php echo get_avatar_url(); ?> >` in any WP template file.

Install WP Auth0.

Create new user.

Log in with e.g Azure AD.

Auth0 avatars

[2021-11-16 02:42] evansims commented on #837
Hi @Simon-ProjectPartners 👋 Have you enabled the Auth0 configuration option to override avatars?

[2021-11-16 08:41] Simon-ProjectPartners commented on #837
Hi @evansims 👋

Thanks for getting back to me. Yes, I did.

Ohh I see, will try my luck with `get_avatar()`. Thanks!

[2021-11-20 05:46] #837 closed

[2021-12-03 06:08] Krammig opened #838 "Error on Activation"
Hope the following is helpful as I am curious to try this plugin.

IIS Windows 7
PHP 7.3.1.0
FastCGI

`Fatal error: Uncaught Error: Class 'WP_Auth0_Options' not found in G:\RainbowWeb\test\httpdocs\wp-content\plugins\wp-auth0-master\WP_Auth0.php:83 Stack trace: #0 G:\RainbowWeb\test\httpdocs\wp-includes\class-wp-hook.php(303): wp_auth0_activation_hook('') #1 G:\RainbowWeb\test\httpdocs\wp-includes

[2021-12-03 15:16] evansims commented on #838
Hi @Krammig 👋 We've never tested the plugin under IIS, but I don't expect there would be any particular issues with that.

- Are you running 4.3.1?
- Did you install manually, or from the WordPress plugin dashboard?
- Can you show me what your directory structure for the plugin looks like?

It sounds like, for whatever reason, your WordPress is not importing all the required plugin files properly.

[2021-12-07 15:46] talamihg commented on #330
Whatever happened to this issue? I am also having this problem and would like to use WordPress default functionality, 'login_redirect' filter and hook.

[2021-12-07 16:30] talamihg opened #839 "'login_redirect' native filter not firing"
Hi wp-auth0 developers,

I am currently using WordPress version 5.7.3 and wp-auth0 version 4.2.0. The login method I am using is the universal login page since it is a little nicer, more secure, and has fewer problems with cross-domain SSO. I would like to use WordPress's native filter `login_redirect`  to redirect a user after authentication, based on their user role and if any 'redirect_to' link

[2021-12-10 13:58] edmundcwm opened #840 "Use custom domain for Auth0 API if present"
### Describe the problem you'd like to have solved
Currently the `WP_Auth0_Api_Abstract` class sets the `$domain` property to the [domain field in the settings page](https://github.com/auth0/wp-auth0/blob/master/lib/api/WP_Auth0_Api_Abstract.php#L116) by using `$this->options->get( 'domain' );`.

If we want to use a **custom domain**, we'd need to use `$this->options->get_auth_domain()` as the 2nd

[2021-12-10 22:00] evansims commented on #838
Closing for now, but let me know if this is still an issue for you and we can dignose it further.

[2021-12-10 22:00] #838 closed

[2021-12-10 22:13] evansims commented on #839
Hey @talamihg 👋 Thanks for your report!

At the moment, it does not appear we implement that particular filter hook, as you noted; we just offer the 'Login Redirection URL' option inside the Advanced section. I do not believe we currently offer a means of retrieving both of those particular values upon login.

In regards to the login redirect filter, I can't think of any particular reason this cou

[2021-12-11 13:04] BetterAutomations opened #841 "Does not handle last names with spaces"
### Describe the problem

### What was the expected behavior?

### Reproduction

### Environment
- **Version of this library used:** WordPress plugin 4.3.1
- **Which framework are you using, if applicable:** WordPress 5.8.2
- **Other modules/plugins/libraries that might be involved:** N/A
- **Any other relevant information you think would be useful:** N/A

[2021-12-11 18:53] evansims commented on #841
Hi @BetterAutomations 👋 At the moment, we don't have a solution that will handle situations like this automatically for you. As, often, individuals may have first names with spaces as well, there's no one-size-fits-all solution we can offer. Our current method addresses most names, but when situations like this arise, you will need to manually update users to fix those on a case-by-case basis.

[2021-12-11 18:53] #841 closed

[2021-12-13 14:07] evansims commented on #840
Hi @edmundcwm, thanks for your request! Let me investigate if this is something we can slip in to a new release short term

[2021-12-14 16:08] talamihg commented on #839
Hey Evan,

Thanks for checking into this. I think adding this request to the backlog as a feature request would be best. I'm unfamiliar with the wp-auth0 project and I think you all would handle coding this feature better. If I do get around to submitting a PR, it would be a nice surprise, and I could tag this issue (#839).

That would be great to include and it would increase compatibility with o

[2021-12-16 15:30] evansims commented on #839
Thanks, @talamihg. 👋 I agree that this would be a nice event for us to hook into. It will be a little bit before I'm able to dive into this, but I've added it to our backlog to be added in the next minor release. In the meantime if you happen to get to creating a PR for it, that would be most welcome too! Thanks again!

[2021-12-16 15:30] #839 closed

[2022-01-27 16:37] evansims opened #842 "WP 5.9 and PHP 8.0/8.1+ compatibility"
With WordPress 5.9 around the corner, Automattic is preparing to begin limited support of PHP 8.0+ with the platform.

However, due to an incompatibility in one of the sub-dependencies our plugin relies on, our WordPress plugin may not be fully compatible with PHP 8.0+ at this time. For the time being, we strongly recommend running the plugin with WordPress using only PHP 7.4 to avoid issues.

We

[2022-01-29 17:31] #842 closed

[2022-02-10 19:07] evansims commented on #840
Hey again @edmundcwm! Sorry for the delay 👋 Thanks for your suggestion, and I entirely agree this is how this should be getting handled automatically by the class. Unfortunately, we can't introduce this change as a simple merge as it would be considered a breaking change on the behavior, but I've backlogged this for us to implement in the next major update to the library.

P.S. Although I'm closin

[2022-02-10 19:07] #840 closed

[2022-02-13 09:41] the133448 commented on #830
Hi @evansims , we ran into this again, we have multiple applications now so ideally we don't want to use the Default Audience under the tenant settings as this impacts our other applications.

[2022-03-24 10:45] lukemalcolm commented on #838
I hit the same issue with release 4.4.0 running on PHP 7.3 (linux/apache). I had to do two things to make this work.

In composer.json change the PHP requirement from 7.4 to 7.3.

` "require": {
    "php": "^7.3 || ^8.0",
`

Then I had to call `composer2 install`.

[2022-03-24 10:47] lukemalcolm opened #844 "composer.json requires PHP 7.4 but readme.txt says 7.3"
The readme.txt file calls out for:

_Requires PHP: 7.3_

In composer.json it asks for 7.4 and composer blocks on installation on PHP 7.3

` "require": {
    "php": "^7.4 || ^8.0",
`

EDIT: This is in 4.4.0

[2022-03-24 19:26] evansims commented on #844
Hi @lukemalcolm thanks for the heads-up, I've updated the readme.txt file and will cut a bugfix release upping that. As a policy Auth0 only supports PHP runtimes [that are supported by PHP itself](https://www.php.net/supported-versions.php), and 7.3 was deprecated last December. Sorry for the confusion!

[2022-03-24 19:26] #844 closed

[2022-04-13 11:29] jcerjak opened #845 "Auth0 documentation ("Integrate with WordPress") should be updated after removal of Implicit Flow login"
### Describe the problem

In #735 (which was released in 4.0.0) the implicit login flow was removed. However the Auth0 documentation still mentions that it is supported: https://auth0.com/docs/customize/integrations/cms/wordpress-plugin/integrate-with-wordpress

I cannot see the "Implicit Login Flow" option either in the Advanced tab in version 4.3.1.

### What was the expected behavior?

Document

[2022-04-13 11:42] jcerjak opened #846 "Release version 4.4.0 to wordpress.org?"
### Describe the problem you'd like to have solved

I see that there is a release version 4.4.0 (https://github.com/auth0/wp-auth0/releases/tag/4.4.0) available since a few months. But on https://wordpress.org/plugins/auth0/ latest version is 4.3.1. Not sure what the release process is, when can we expect version 4.4.0 on wordpress.org?

### Describe the ideal solution

Version 4.4.0 is available

[2022-04-13 13:31] evansims commented on #845
Thanks @jcerjak, I'll raise this with our documentation team.

[2022-04-13 13:31] #845 closed

[2022-04-17 10:40] the133448 commented on #830
HI @evansims would you be able to reopen this?

[2022-04-17 18:54] evansims commented on #830
Hi @the133448 👋 Thanks for the update. Support for multiple audiences is on our radar for the next major release, but we don't currently havec an timetable for this that I can offer/

[2022-06-10 15:03] lakshmi-auth0 commented on #597
We had to call WP-engine support people to turn off caching for our wordpress website. This was the only way we could solve this. Currently there is no way for wp engine website's admin to  disable caching in wp-engine. The admin of a wordpress website can only view the cookies that are not cached and cant modify them.

[2022-08-09 18:07] unakriti commented on #846
Its almost one year since the last revision on [WordPress repository](https://wordpress.org/plugins/auth0/). eagerly waiting for the new release to show up as "available updates" on my sites.

[2022-09-14 21:21] blakmarkit commented on #846
Hi @evansims it doesn't look like the latest release ever made it onto the WP repo.

[2022-09-19 20:25] blakmarkit opened #850 "4.4.0 not on public WP repo"
Thanks, @jcerjak. I'm not sure why I didn't populate up to WP.org, but I'll manually push a release to it this week.

_Originally posted by @evansims in https://github.com/auth0/wp-auth0/issues/846#issuecomment-1098053786_

There is a closed issue with the above comment that seems to indicate that the latest version here has been released on the WP plugin repo, but that doesn't appear to have happ

[2022-09-20 00:33] evansims commented on #850
Hey @blakmarkit 👋 Thanks for creating this issue. It's definitely on my radar, but I'm holding off until I wrap up the next release of the plugin to push an update, as that has taken priority. In the meantime you should be able to manually update using a downloaded ZIP from the GitHub repo. Thanks.

[2022-09-20 00:33] #850 closed

[2022-11-01 19:44] mnbro opened #855 "The new version of this plugin, 5.0.0, cannot be found on wordpress plugin repository."
### Describe the problem

### What was the expected behavior?

### Reproduction

- Step 1..
- Step 2..
- ...

### Environment

- **Version of this library used:**
- **Which framework are you using, if applicable:**
- **Other modules/plugins/libraries that might be involved:**
- **Any other relevant information you think would be useful:**

[2022-11-01 19:45] mnbro commented on #855
The new version of this plugin, 5.0.0, cannot be found on wordpress plugin repository.

[2022-11-01 20:09] evansims commented on #855
Hi @mnbro 👋 Thanks for your question! This is intentional and part of a progressive rollout schedule.

We're releasing the plug-in to users with Composer-based installs first, and will be progressively rolling it out to everyone through WordPress.org in the coming weeks.

Since v5 is a complete rewrite of the plug-in and represents a significant amount of changes, we feel a slow roll out makes sen

[2022-11-01 20:10] #855 closed

[2022-11-01 20:11] mnbro commented on #855
Thank you for clarifying it!

[2022-11-08 12:33] JUVOJustin opened #856 "Integration with "members" plugin"
### Describe the problem you'd like to have solved
Add a little integration with the [wordpress members plugin](https://wordpress.org/plugins/members/) which allows make the site only accessible after a user logged in. When enabling the "private site" feature in members alongside using auth0 an endless redirect loop occurs.  I have already created an [issue at the members repository](https://githu

[2022-11-11 17:37] 89gsc opened #857 "v5.0.0 - SDK Auth configuration missing on activation (I think)"
### Describe the problem

I have tried to download the new version 5.0.0 and use this to take advantage of the included SDK however, when I try to activate the plugin it will throw a fatal error I can not recover from.

The error I am seeing is:

[code]

### What was the expected behavior?

I expect to be able to activate the plugin to add the configuration for the SDK before it tries to just conn

[2022-11-12 05:44] evansims commented on #856
Hey @JUVOJustin! 👋 Thanks for your suggestion, and offering the snippet and advice for others seeking similar integrations! Adding integration support around this specific use case isn't planned right now, but I'll backlog researching this for future consideration. 👍

[2022-11-12 05:44] #856 closed

[2022-11-13 06:38] evansims commented on #857
Hey @89gsc 👋 Thanks for reporting this! I'll investigate and get back with you.

[2022-11-14 13:47] korobochkin opened #858 "Priority of the wp_auth0_process_auth_callback"
### Describe the problem you'd like to have solved

This topic seems related only for 4.* versions.

I noticed that the `wp_auth0_process_auth_callback` is attached to WordPress by the `template_redirect` event (action). **Is there any reason for so late invocation?** The `template_redirect` fires after WordPress loads posts from `wp_posts` table (+ post meta).

[code]

### Describe the ideal solu

[2022-11-17 12:59] 89gsc commented on #857
I have been asked to test this on a new blank install of wordpress to see if anything with the current stack we have tried to use this with caused the issue.

I have done this and I get the same error on a non bedrock / standard WP setup.

![image](https://user-images.githubusercontent.com/1032459/202452126-adda2ffd-6ac0-4d8c-83b9-dceece831844.png)

I am not actually sure the "getting started" ins

[2022-11-18 18:06] evansims commented on #858
Hey @korobochkin 👋 Thanks for your question!

To be totally honest, I'm not certain what influenced the decision behind that action being invoked so late in the hooks lifecycle. 🤔 Much of V4's development was before my time with the company, I'm afraid. Sadly, as you noted, changing it would potentially introduce a breaking change for those relying on it.

Your workaround appears solid, though, an

[2022-11-18 18:06] #858 closed

[2022-11-18 18:10] evansims commented on #857
Thanks for the feedback @89gsc, I'll see what I can do to introduce the onboarding there. My expectation was that you'd run the `composer require` within the wp-content/plugins directory itself, so the repo is forked within that. I should be clearer there.

There may be some issues running V5 with wpackagist.org, I'll look into that.

That should definitely not be happening, as the plugin include'

[2022-11-28 13:06] neidenmark opened #859 "Auth0 PHP 8 support?"
Im using Auth0 as a IDP for my Wordpress site.
Now the hosting provider has removed support for PHP 7.4 and forced upgrade to PHP 8.

When logging in the Auth0 plugin yields the following error:
Warning: Undefined array key "scope" in /customers/a/9/0/wss.se/httpd.www/wp/wp-content/plugins/auth0/lib/api/WP_Auth0_Api_Client_Credentials.php on line 84 Warning: Cannot modify header information - head

[2022-11-29 03:20] evansims commented on #842
WordPress 6.0+ and PHP 8.0+ support are now available in the new 5.X WordPress version release.

[2022-11-29 03:25] evansims commented on #859
Hi @neidenmark 👋 Due to technical reasons, PHP 8.0+ is unsupported in V4 of our WordPress plugin, and mileage may vary as far as experience. https://github.com/auth0/wp-auth0/issues/842

We are rolling out a new major of our WordPress plugin, V5, which includes PHP 8.0+ support, and support for WordPress 6.0+. It is not live on WordPress.org's plugin marketplace quite yet, but will be in the upcom

[2022-11-29 03:25] #859 closed